version: '3.3'

services:
  mysql:
    image: mysql:5
    ports:
      - "33061:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: LbRootPass1
      MYSQL_DATABASE: lbcat
      MYSQL_USER: lbuser
      MYSQL_PASSWORD: LiquibasePass1
    networks:
      - integration
    volumes:
      - "./mysql-init.sql:/docker-entrypoint-initdb.d/mysql-init.sql"

  postgres-9:
    image: postgres:9
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: LbRootPass1
      POSTGRES_DB: lbcat
    networks:
      - integration
    volumes:
      - "./postgres-init.sh:/docker-entrypoint-initdb.d/postgres-init.sh"

#  cockroachdb:
#    image: cockroachdb/cockroach-unstable:v20.2.0-rc.3
#    command: start-single-node --logtostderr --insecure
#    ports:
#      - "26257:26257"
#      - "8080:8080"

  mssql:
    image: mcr.microsoft.com/mssql/server:2017-latest
    ports:
      - "1433:1433"
    restart: always
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: LiquibasePass1
    networks:
      - integration
    volumes:
      - "./mssql-init.sh:/docker-entrypoint-initdb.d/mssql-init.sh"
      - "./mssql-init.sql:/docker-entrypoint-initdb.d/mssql-init.sql"
    entrypoint: /bin/bash /docker-entrypoint-initdb.d/mssql-init.sh

  mariadb:
    image: mariadb:10.5
    ports:
      - "33066:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: LbRootPass1
      MYSQL_DATABASE: lbcat
      MYSQL_USER: lbuser
      MYSQL_PASSWORD: LiquibasePass1
    networks:
      - integration
    volumes:
      - "./mariadb-init.sql:/docker-entrypoint-initdb.d/mariadb-init.sql"

  oracle:
    image: docker-dev.artifactory.datical.net/datical/oracle-ee:19.3.0-local
    networks:
      - integration
    volumes:
      - "./scripts_local/18_19:/opt/oracle/scripts/startup"
    ports:
      - "1521:1521"
    restart: always

networks:
  integration:
