package { 'mysql':
	ensure  => '${supplier.version}',
	source	=>	"http://dev.mysql.com/get/Downloads/MySQL-5.6.17/mysql-5.6.17-winx64.msi",
	install_options => ['INSTALLDIR=${supplier.installDir}'],
}

exec { "Init Mysql":
    require => Package["mysql"],
    command => '${supplier.installDir}\bin\MySQLInstanceConfig.exe -i -q "-l${supplier.installDir}\install.log.txt" "-nMySQL Server ${supplier.shortVersion}" "-p${supplier.installDir}" -v${${supplier.version}} "-tc:\vagrant\modules\conf\mysql\mysql.ini" "-c${supplier.installDir}\mysql.ini" ServerType=DEVELOPMENT DatabaseType=MIXED ConnectionUsage=DSS Port=${supplier.port} ServiceName=MySQL RootPassword=${supplier.adminPassword}',
    creates => '${supplier.installDir}\mysql.ini'
}

exec { "Create users and databases":
    require => Exec["Init Mysql"],
    command => 'c:\windows\system32\cmd.exe /c ${supplier.installDir}\bin\mysql.exe -u ${supplier.adminUsername} -p${supplier.adminPassword} mysql < c:\vagrant\modules\conf\mysql\mysql.init.sql'
}