user { 'oracle':
    ensure => present,
    password => 'oracle',
} ->


file { '${supplier.installDir}':
    ensure => "directory",
} ->

exec { 'unzip oracle disk 1':
	command	=>	'"C:\Program Files\7-Zip\7z.exe" x "c:/vagrant-install-files/oracle/${supplier.zipFileBase}_1of2*.zip" -o"${supplier.installDir}" -y -aos',
    creates => '${supplier.installDir}\database\setup.exe'
} ->

exec { 'unzip oracle disk 2':
	command	=>	'"C:\Program Files\7-Zip\7z.exe" x "c:/vagrant-install-files/oracle/${supplier.zipFileBase}_2of2*.zip" -o"${supplier.installDir}" -y -aos',
    creates => '${supplier.installDir}\database\welcome.html'

} ->

exec { 'runInstaller':
    command => '${supplier.installDir}\database\install\oui.exe -responseFile c:\vagrant\modules\conf\oracle\oracle_install.rsp -silent -waitforcompletion -nowait -ignorePrereq -ignoreSysPrereqs',
    creates => '${supplier.oracleHome}',
    returns => [0,3], #errors but seems to work
} ->

exec { 'dbca':
    command => 'c:\windows\system32\cmd.exe /c ${supplier.oracleHome}\bin\dbca.bat -silent -createDatabase -responseFile c:\vagrant\modules\conf\oracle\oracle_install.rsp -templateName General_Purpose.dbc -gdbName ${supplier.sid} -sysPassword ${supplier.sysPassword} -systemPassword ${supplier.systemPassword} -serviceUserPassword oracle',
    creates => '${supplier.installDir}\oradata\${supplier.sid}',
    timeout => 1000
} ->

exec { 'netca':
    command => 'c:\windows\system32\cmd.exe /c ${supplier.oracleHome}\bin\netca.bat -silent -insttype typical -orahome ${supplier.oracleHome} -responseFile c:\vagrant\modules\conf\oracle\oracle_netca.rsp',
} ->

exec { 'oracle sql init':
    command => '${supplier.oracleHome}\bin\sqlplus.exe system/${supplier.systemPassword}@localhost/${supplier.sid} @c:\vagrant\modules\conf\oracle\oracle.init.sql',
    environment => 'ORACLE_HOME=${supplier.oracleHome}',
    creates => '${supplier.installDir}/oradata/${supplier.sid}/${supplier.alternateTablespace}.dbf',
}

