body
{
    font-size: 62.5%;
    font-family: verdana, helvetica, arial, sans-serif;
    background: #7A7A7A url(../../images/cssimages/back.gif) repeat-y left top;
    color: #5C5C5C;
}

a
{
    font-family: verdana, helvetica, arial, sans-serif;
}

h1, h2, h3, h4
{
    font-family: 'trebuchet MS', verdana, helvetica, arial, sans-serif;
    font-size: 2.6em;
    letter-spacing: .05em;
    font-weight: normal;
    margin: 0;
    color: #898989;
}

h2
{
    margin-top: 1em;
    font-size: 2.0em;
}

h3
{
    font-size: 1.6em;
    margin-top: 1.5em;
}

h4
{
   font-size: 1.4em;
}

#container
{
    width: 926px;
    padding: 70px 0 100px 0;
}

#content
{
    padding: 0 0 0 100px;
    background: #E2E2E2;
    width: 560px;
}

#content p
{
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0.7em 0;
}

#content ul, ol, ul ol
{
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 0 35px;
}

#content ul li, ol li
{
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 0 0;
}

#content pre
{
   font-size: 1.3em;
   line-height: 1.5em;
   margin: 8px;
   padding: 8px;
   border: 1px dashed #666;
}

#navigation
{
    float: right;
    width: 250px;
}

#navigation ul
{
    font-size: 13px;
    list-style-type: none;
    color: #ccc;
}

#navigation li
{
    color: #ccc;
    padding: 10px 0 5px 5px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
}

#navigation li li
{
    border-bottom: none;
    padding-bottom:2px;
    padding-top:2px;
}

#navigation li a
{
   text-decoration: none;
    color: #ccc;

}


#sitename
{
    font-family: 'trebuchet MS', verdana, helvetica, arial, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .4em;
    color: #BFBFBF;
    font-weight: normal;
    text-align: right;
    padding: 18px 18px 0 0;
    margin: 0;
}

.widgetbox
{
    float: right;
    margin: 0 0 10px 10px;
}

.topLogo
{
    float:left;
    position:absolute;
    left:330px;
    top:20px;
}

/* =Support
------------------------------------------------------------- */

.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix { display: inline-table; }

/* fix Win/IE, hides from IE-mac \*/
* html #nav { font-weight: bold; }
* html #nav li { margin: 0 30px; }
* html #nav li { margin: 0 10px 0 0; }
* html #content-b legend { margin: 0 0 0 -6px; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* end hide from IE-mac */
