# -*- mode: ruby -*-
# vi: set ft=ruby :

# Vagrantfile API/syntax version. Don't touch unless you know what you're doing!
VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
    config.vm.box = "${configVmBox}"

    config.vm.network :private_network, ip: "${configVmNetworkIp}"
    config.vm.synced_folder "../install-files", "/vagrant-install-files"
    config.vm.boot_timeout = 900

${osLevelConfig}

    config.vm.provider :virtualbox do |vb|
        vb.customize ["modifyvm", :id, "--memory", "${vmCustomizeMemory}"]
        # vb.gui = true
    end

    config.vm.provision :shell, :path => "${configVmProvisionScript}"

end
