Package: dbmanul
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends:
Maintainer: Andreas Buschka <andreas.buschka@dbmanul.org>
Description: DB-Manul - a change management system for databases
Distribution: development
