<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="LiquiBase"
            class="org.liquibase.eclipse.common.Perspective"
            id="org.liquibase.perspective.liquiBase">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.liquibase.refactorActionSet"
            label="&amp;Refactor"
            visible="true">
         <menu
               id="org.liquibase.refactorMenu"
               label="&amp;Refactor"
               path="additions">
            <separator
                  name="table">
            </separator>
            <separator
                  name="column">
            </separator>
            <separator
                  name="database">
            </separator>
            <separator
                  name="other">
            </separator>
         </menu>
         <action
               class="org.liquibase.eclipse.common.change.action.AddTableAction"
               enablesFor="1"
               id="org.liquibase.refactor.CreateTable"
               label="&amp;Create Table..."
               menubarPath="org.liquibase.refactorMenu/database"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.schema.Schema">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropTableAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropTable"
               label="&amp;Drop Table"
               menubarPath="org.liquibase.refactorMenu/table"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Table">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddColumnAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddColumn"
               label="&amp;Add Column..."
               menubarPath="org.liquibase.refactorMenu/table"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Table">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddDefaultValueAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddDefaultValue"
               label="&amp;Add Default Value..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddAutoIncrementAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddAutoIncrement"
               label="&amp;Add Auto-Increment"
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddForeignKeyAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddForeignKeyConstraint"
               label="&amp;Add Foreign Key Constraint..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddLookupTableAction"
               enablesFor="1"
               id="org.liquibase.refactor.CreateLookupTable"
               label="&amp;Create Lookup Table..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddNotNullConstraintAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddNotNullConstraint"
               label="&amp;Add Not Null Constraint..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddPrimaryKeyAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddPrimaryKey"
               label="&amp;Make Primary Key..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddUniqueConstraintAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddUniqueConstraint"
               label="&amp;Add Unique Constraint..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.CreateIndexAction"
               enablesFor="1"
               id="org.liquibase.refactor.CreateIndex"
               label="&amp;Create Index..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.CreateViewAction"
               enablesFor="1"
               id="org.liquibase.refactor.CreateView"
               label="&amp;Create View..."
               menubarPath="org.liquibase.refactorMenu/database"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.schema.Schema">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropColumnAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropColumn"
               label="&amp;Drop Column..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropDefaultValueAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropDefaultValue"
               label="&amp;Drop Default Value..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropForeignKeyConstraintAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropForeignKeyConstraint"
               label="&amp;Drop Foreign Key..."
               menubarPath="org.liquibase.refactorMenu/other"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropIndexAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropIndex"
               label="&amp;Drop Index..."
               menubarPath="org.liquibase.refactorMenu/other"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropViewAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropView"
               label="&amp;Drop View"
               menubarPath="org.liquibase.refactorMenu/table"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Table">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.RenameColumnAction"
               enablesFor="1"
               id="org.liquibase.refactor.RenameColumn"
               label="&amp;Rename Column..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.RenameTableAction"
               enablesFor="1"
               id="org.liquibase.refactor.RenameTable"
               label="&amp;Rename Table..."
               menubarPath="org.liquibase.refactorMenu/table"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Table">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.RenameViewAction"
               enablesFor="1"
               id="org.liquibase.refactor.RenameView"
               label="&amp;Rename View..."
               menubarPath="org.liquibase.refactorMenu/table"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Table">
               </objectClass>
            </enablement>
         </action>
      </actionSet>
      <actionSet
            id="org.liquibase.liquiBaseActionSet"
            label="LiquiBase"
            visible="true">
         <menu
               id="org.liquibase.liquibaseMenu"
               label="&amp;LiquiBase"
               path="additions">
            <separator
                  name="migrate">
            </separator>
            <separator
                  name="other">
            </separator>
         </menu>
         <action
               class="org.liquibase.eclipse.common.migrator.action.MigrateAction"
               enablesFor="1"
               id="org.liquibase.migrateAction"
               label="&amp;Update Database"
               menubarPath="org.liquibase.liquibaseMenu/migrate">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.schema.SQLObject">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.migrator.action.TagDatabaseAction"
               enablesFor="1"
               id="org.liquibase.tagDatabaseAction"
               label="&amp;Tag Database"
               menubarPath="org.liquibase.liquibaseMenu/other">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.schema.SQLObject">
               </objectClass>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.liquibase.sqlObjectContribution"
            objectClass="org.eclipse.datatools.modelbase.sql.schema.SQLObject">
         <menu
               id="org.liquibase.refactorMenu"
               label="&amp;Refactor"
               path="additions">
            <separator
                  name="database">
            </separator>
            <separator
                  name="table">
            </separator>
            <separator
                  name="column">
            </separator>
            <separator
                  name="other">
            </separator>
         </menu>
         <action
               class="org.liquibase.eclipse.common.change.action.AddTableAction"
               enablesFor="1"
               id="org.liquibase.refactor.CreateTable"
               label="&amp;Create Table..."
               menubarPath="org.liquibase.refactorMenu/database"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.schema.Schema">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropTableAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropTable"
               label="&amp;Drop Table"
               menubarPath="org.liquibase.refactorMenu/table"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Table">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddColumnAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddColumn"
               label="&amp;Add Column..."
               menubarPath="org.liquibase.refactorMenu/table"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Table">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddDefaultValueAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddDefaultValue"
               label="&amp;Add Default Value..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddAutoIncrementAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddAutoIncrement"
               label="&amp;Add Auto-Increment"
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddForeignKeyAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddForeignKeyConstraint"
               label="&amp;Add Foreign Key Constraint..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddLookupTableAction"
               enablesFor="1"
               id="org.liquibase.refactor.CreateLookupTable"
               label="&amp;Create Lookup Table..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddNotNullConstraintAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddNotNullConstraint"
               label="&amp;Add Not Null Constraint..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddPrimaryKeyAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddPrimaryKey"
               label="&amp;Make Primary Key..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.AddUniqueConstraintAction"
               enablesFor="1"
               id="org.liquibase.refactor.AddUniqueConstraint"
               label="&amp;Add Unique Constraint..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.CreateIndexAction"
               enablesFor="1"
               id="org.liquibase.refactor.CreateIndex"
               label="&amp;Create Index..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.CreateViewAction"
               enablesFor="1"
               id="org.liquibase.refactor.CreateView"
               label="&amp;Create View..."
               menubarPath="org.liquibase.refactorMenu/database"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.schema.Schema">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropColumnAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropColumn"
               label="&amp;Drop Column..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropDefaultValueAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropDefaultValue"
               label="&amp;Drop Default Value..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropForeignKeyConstraintAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropForeignKeyConstraint"
               label="&amp;Drop Foreign Key..."
               menubarPath="org.liquibase.refactorMenu/other"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.constraints.ForeignKey">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropIndexAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropIndex"
               label="&amp;Drop Index..."
               menubarPath="org.liquibase.refactorMenu/other"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.constraints.Index">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.DropViewAction"
               enablesFor="1"
               id="org.liquibase.refactor.DropView"
               label="&amp;Drop View"
               menubarPath="org.liquibase.refactorMenu/table"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.ViewTable">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.RenameColumnAction"
               enablesFor="1"
               id="org.liquibase.refactor.RenameColumn"
               label="&amp;Rename Column..."
               menubarPath="org.liquibase.refactorMenu/column"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Column">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.RenameTableAction"
               enablesFor="1"
               id="org.liquibase.refactor.RenameTable"
               label="&amp;Rename Table..."
               menubarPath="org.liquibase.refactorMenu/table"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.Table">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.liquibase.eclipse.common.change.action.RenameViewAction"
               enablesFor="1"
               id="org.liquibase.refactor.RenameView"
               label="&amp;Rename View..."
               menubarPath="org.liquibase.refactorMenu/table"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.datatools.modelbase.sql.tables.ViewTable">
               </objectClass>
            </enablement>
         </action>
      </objectContribution>
   </extension>
 </plugin>
