.section {
}

.section code {
   font-size: 1.25em;
}

.section h3 {
  margin-top: 1em;
  font-size: 2.0em;
  padding-top: 7px;
  padding-bottom: 5px;
}

.section b a {
  font-size:1.25em;
  margin-right:100%;
}

.section ul li b {
  font-size:0.8em;
}

.section ul li code {
  font-size:0.8em;
}

.section table {
    width:100%;
}

.section td {
    border-style:solid;
    margin: 0px;
    padding:5px;
    border-width:1px;
}

.section th {
    border-style:solid;
    margin: 0px;
    padding:5px;
    border-width:1px;
    text-align:left;
    vertical-align:top;
    width:25%;
}

.section tr {
    margin:0px;
    padding:0px;
    vertical-align:top;
}

.section td b a {
  font-size:1em;
}