PROD=EXPRESS_C
LIC_AGREEMENT=ACCEPT
FILE=${supplier.installDir}
INSTALL_TYPE=TYPICAL

LANG=EN

INSTANCE=${supplier.instanceName}
${supplier.instanceName}.NAME=${supplier.instanceName}
DEFAULT_INSTANCE=${supplier.instanceName}
${supplier.instanceName}.SVCENAME=db2c_${supplier.instanceName}
${supplier.instanceName}.DB2COMM=TCPIP
DB2_OLEDB_GUID={BA29B240-27E6-42C3-95DB-F08EA5B91548}
DB2_OLEDB_ADVANCED_PAGE_GUID={E69D3759-23E2-4240-8635-C1DDEB9158B4}
DB2_OLEDB_CONNECTION_PAGE_GUID={DF11E8C1-D1BC-42BA-94A1-738A81C76D50}
DB2_OLEDB_ENUMERATOR_GUID={624B9F4A-E208-47D7-A141-BEB2A3D719BB}
DB2_OLEDB_ERROR_LOOKUP_GUID={6B22FF8C-3916-49F6-82DE-F4488A527AAB}
${supplier.instanceName}.PORT_NUMBER=50000
SSH_SERVER_INSTALL_DIR=${supplier.sshInstallDir}
AUTOSTART_SSH_SERVER=YES
${supplier.instanceName}.AUTOSTART=YES
${supplier.instanceName}.USERNAME=${supplier.adminUsername}
${supplier.instanceName}.PASSWORD=${supplier.adminPassword}
DAS_USERNAME=${supplier.adminUsername}
DAS_PASSWORD=${supplier.adminPassword}
CREATE_DAS=YES
DB2_EXTSECURITY=NO
DB2_USERSGROUP_NAME=DB2USERS
DB2_ADMINGROUP_NAME=DB2ADMNS
DB2_COPY_NAME=DB2COPY1
DEFAULT_COPY=YES
