** ============================================================================
**
** Sample response file for IBM DB2
** --------------------------------
** To select features and settings to install, uncomment the corresponding
** keywords and specify values for those keywords.  You do not need to select
** features if you select the TYPICAL or COMPACT installation options.
**
** Comments are made by placing either an asterisk (*) or a hash symbol (#) at
** the start of a line, or by placing ** or ## after the start of a line to
** comment out the rest of that line.
** All keywords that are currently uncommented (not preceded by * or #) are
** mandatory and must be assigned values for the installation to continue.
** All other keywords are optional. If optional keywords are not specified,
** the installation will proceed using default values. Lines that start out
** with two asterisks are documentation and should not be enabled.
** For more information on configuration parameters, see "Configuring the DB2 database manager with 
** configuration parameters" in the DB2 Information Center.
**
** For more information on DB2 registry and environment variables, and configuration 
** parameters, see "DB2 registry and environment variables" in the DB2 Information Center.
**
** For more information on how to perform a response file installation, see 
** "Response file considerations" in the DB2 Information Center.
**
** Refer to the DB2 Information Center at:
** http://publib.boulder.ibm.com/infocenter/db2luw/v10r5
**
** ============================================================================
** General Options
** ---------------

** Only one product can be specified for the following PROD keyword. Specifying
** multiple products in an installation is not supported.
PROD                      = EXPRESS_C

** The FILE keyword determines the base installation path. If you specify a
** path that does not yet have this product, this will install a new copy.  If
** you specify a path that has this product, this will be considered an
** existing installation intended to install additional functionality.	This is
** a mandatory keyword for root installation. Remove this keyword for non-root
** installation. If not removed, its value must be $HOME/sqllib where $HOME
** represents the HOME directory of the non-root user ID that owns the non-root
** installation.
FILE                      = /opt/ibm/db2/V10.5

** Modify the value of the following LIC_AGREEMENT keyword to indicate that you
** have read and agreed to the license agreement file in the db2/license
** directory on the CD.
LIC_AGREEMENT             = ACCEPT         ** ACCEPT or DECLINE

** If an interactive type is set, db2setup will prompt for CD locations and
** give feedback as to progress, otherwise nothing will be displayed until the
** installation is complete.
*INTERACTIVE              = NONE            ** NONE, YES, MACHINE

** The PACKAGE_LOCATION keyword is used only when the NLPACK is not available
** and any national languages are to be installed. This keyword specifies the
** location of the NLPACK.
*PACKAGE_LOCATION         =                 ** Any valid path

** The CONFIG_ONLY keyword is used to specify that the response file is being
** used for creating or configuring an instance, and nothing is to be
** installed. This keyword must be set to YES if a response file is used with
** db2isetup.
*CONFIG_ONLY              =                 ** YES or NO

** INSTALL_TYPE keyword is used to select the installation type. If you specify
** a TYPICAL or a COMPACT install type, no COMP keywords are required. In this
** case the installer will select the appropriate components for you.  All COMP
** keywords are ignored by the installer unless the INSTALL_TYPE is set  to
** CUSTOM. If you select the CUSTOM install type, then ensure that you enable 
** all of the COMP keywords that are required for your database environment.
** 
** Note: The install type is not related to the language selection.
** ----------------------------------------------------------------------------
INSTALL_TYPE              = TYPICAL         ** TYPICAL, COMPACT, CUSTOM

** The following components are part of all TYPICAL installations. If you
** perform a typical installation, all of these components will be installed on
** your computer.
** ----------------------------------------------------------------------------

** DB2 Advanced Copy Services help protect mission-critical data that requires
** 24x7 availability. It offers an integrated solution designed to implement
** high-efficiency backup and restore processes and helps eliminate
** backup-related performance issues.
*COMP                     = ACS                                 ** Integrated Flash Copy Support

** Provides federated support required to access DB2 for iSeries and DB2 for
** z/OS and OS/390 data sources.
*COMP                     = DB2_DATA_SOURCE_SUPPORT             ** DB2 data source support

** Sample database source provides sample data and metadata that allows you to
** create a sample database using the First Steps application.
*COMP                     = DB2_SAMPLE_DATABASE                 ** Sample database source

** DB2 Update Service is a web tool that lists the available DB2 product
** updates, and provides details about product updates.  The DB2 Update Service
** requires an internet connection.
*COMP                     = DB2_UPDATE_SERVICE                  ** DB2 Update Service

** First Steps is a graphical tool that will help familiarize you with DB2
** features and functions.
*COMP                     = FIRST_STEPS                         ** First Steps

** The DB2 Instance Setup wizard is a Java-based tool you can use to set up
** instances on your computer after installing DB2.
*COMP                     = INSTANCE_SETUP_SUPPORT              ** DB2 Instance Setup wizard

** LDAP Exploitation allows DB2 to use an LDAP directory to store database
** directory and configuration information.
*COMP                     = LDAP_EXPLOITATION                   ** DB2 LDAP support


** The following components are not part of TYPICAL installations, and thus can
** only be installed through CUSTOM installs.
** ----------------------------------------------------------------------------

** The base application development tools component contains tools and files
** (including header files, libraries, and a precompiler) that are needed for
** developing applications that work with DB2.
*COMP                     = APPLICATION_DEVELOPMENT_TOOLS       ** Base application development tools

** Spatial Extender client contains the support required for communicating with
** a Spatial Extender server.
*COMP                     = SPATIAL_EXTENDER_CLIENT_SUPPORT     ** Spatial Extender client

** Provides Spatial Extender support for the DB2 server, providing the storing
** and query of geographical information in DB2 tables.
*COMP                     = SPATIAL_EXTENDER_SERVER_SUPPORT     ** Spatial Extender server support

** The DB2 Text Search component, powered by OmniFind, delivers an integrated,
** high quality and scalable search technology in DB2 databases.
** This feature is only installed and not configured when the PURESCALE feature
** is selected for installation.
*COMP                     = TEXT_SEARCH                         ** DB2 Text Search

** The following languages apply to all translated components. Enable the
** language(s) you want installed. If you do not enable any language keywords,
** then the English language (EN) will still be installed by default.
** ---------------------------------------------------------------------------
*LANG                     = BR              ** Portuguese - Brazil (pt_BR)
*LANG                     = CN              ** Simplified Chinese (zh_CN)
*LANG                     = CZ              ** Czech (cs_CZ)
*LANG                     = DE              ** German (de_DE)
*LANG                     = ES              ** Spanish (es_ES)
*LANG                     = FR              ** French (fr_FR)
*LANG                     = IT              ** Italian (it_IT)
*LANG                     = JP              ** Japanese (ja_JP)
*LANG                     = KR              ** Korean (ko_KR)
*LANG                     = PL              ** Polish (pl_PL)
*LANG                     = RU              ** Russian (ru_RU)
*LANG                     = TW              ** Traditional Chinese (zh_TW)


** (Valid for non-root upgrade only) Upgrade Older Release
** -------------------------------------------------------
** Specify whether you want to upgrade any previous versions of the product. 
** Specifying this keyword will remove any previous version and upgrade any
** settings to the new installation.  Be aware that during upgrade of the
** current copy, only the product specified in the response file will be
** installed. Other previously installed products need to be upgraded
** separately following this upgrade.
*UPGRADE_PRIOR_VERSIONS   = FALSE           ** TRUE or FALSE

** Instance Creation Settings
** --------------------------
** User IDs managed by NIS/NIS+ are not supported. If an existing user ID is
** used, make sure it is not locked and its password has not expired.

** Prefix name of one instance set. To create or update an instance, one set of
** instance keywords must be specified. The instance set is comprised of the
** identifying prefix value for the INSTANCE key followed by the keys that are
** prefixed by the specified INSTANCE prefix value.
INSTANCE                  = ${supplier.instanceName}        ** char(8)  no spaces

** Real name of the instance, and also the user ID of instance owner. It can be
** different from the value of the INSTANCE keyword. If an existing ID is
** specified for the instance's NAME keyword, make sure the user ID exists on
** all the participating hosts with the same UID, GID, corresponding group
** name, user name and user home directory. Ensure that existing user IDs are
** not locked and that the password has not expired. IBM DB2 pureScale Feature
** users must specify a name that is unique across the IBM DB2 pureScale
** implementation.
${supplier.instanceName}.NAME             = ${supplier.instanceName}        ** char(8)  no spaces, no upper case letters

** The UID will be generated if the keyword is not specified - highly
** recommended.
*${supplier.instanceName}.UID             =                 ** Unsigned integer
${supplier.instanceName}.GROUP_NAME       = db2iadm1        ** char(30) no spaces

** Use a generated GID if no value provided - highly recommended.
*${supplier.instanceName}.GID             =                 ** Unsigned integer
${supplier.instanceName}.HOME_DIRECTORY   =                 ** char(64) no spaces. Valid for root installation only
${supplier.instanceName}.PASSWORD         = ${supplier.adminPassword}       ** Valid for root installation only
*${supplier.instanceName}.TYPE            = WSE             ** WSE STANDALONE CLIENT

** Set the instance to be auto-started after system reboot. The AUTOSTART
** keyword can only be used by a root installation. This keyword is invalid for
** non-root installation.
${supplier.instanceName}.AUTOSTART        = YES             ** YES or NO

** The START_DURING_INSTALL keyword will start the instance during the
** installation.  If this keyword is not specified, the behavior follows the
** AUTOSTART keyword above.
*${supplier.instanceName}.START_DURING_INSTALL = YES         ** YES or NO. Default is YES.
*${supplier.instanceName}.SVCENAME        = db2c_db2inst1   ** BLANK or char(14). Reserved for root installation only
*${supplier.instanceName}.PORT_NUMBER     = 50000           ** 1024 - 65535, Reserved for root installation only
*${supplier.instanceName}.CLIENT_IMPORT_PROFILE =           ** a full path or a file in the same directory as the response file
*${supplier.instanceName}.AUTHENTICATION  = SERVER          ** CLIENT, SERVER, or SERVER_ENCRYPT

** Fenced User Creation Settings
** -----------------------------
** Valid for root installation only. User IDs managed by NIS/NIS+ are not
** supported. If an existing ID is used, make sure it is not locked and its
** password has not expired.

** Make sure the user name specified for FENCED_USERNAME is not locked and its
** password has not expired.
${supplier.instanceName}.FENCED_USERNAME  = db2sdfe1        ** char(8)  no spaces, no upper case letters

** If no value is provided for FENCED_UID keyword, the DB2 installer will
** generate one for you. This is highly recommended.
*${supplier.instanceName}.FENCED_UID      =                 ** Unsigned integer
${supplier.instanceName}.FENCED_GROUP_NAME = db2fsdm1       ** char(30)  no spaces

** If no value is provided for FENCED_GID keyword, the DB2 installer will
** generate one for you. This is highly recommended.
*${supplier.instanceName}.FENCED_GID      =                 ** Unsigned integer
*${supplier.instanceName}.FENCED_HOME_DIRECTORY =           ** char(64) no spaces

** This FENCED_PASSWORD is required if the fenced user ID is a new user
${supplier.instanceName}.FENCED_PASSWORD =   ${supplier.adminPassword}         ** char(8)

** Text Search Configuration
** -------------------------
*${supplier.instanceName}.CONFIGURE_TEXT_SEARCH = NO        ** YES or NO
*${supplier.instanceName}.TEXT_SEARCH_HTTP_SERVICE_NAME = db2j_db2inst1 ** BLANK or char(14). Valid for root installation only
*${supplier.instanceName}.TEXT_SEARCH_HTTP_PORT_NUMBER = 55000 ** Any unused port number from 1024 - 65535

** Instance DBM CFG Settings
** -------------------------
*${supplier.instanceName}.AGENTPRI        =                 ** SYSTEM, -1 or 41-128
*${supplier.instanceName}.ASLHEAPSZ       =                 ** 1 - 524288
*${supplier.instanceName}.AUDIT_BUF_SZ    =                 ** 0 - 65000
*${supplier.instanceName}.CATALOG_NOAUTH  =                 ** 0, 1, YES or NO
*${supplier.instanceName}.CLUSTER_MGR     =                 ** TSA, VENDOR:<fully qualified vendor library>
*${supplier.instanceName}.CPUSPEED        =                 ** -1 or 1e-10 - 1
*${supplier.instanceName}.DFTDBPATH       =                 ** any valid path
*${supplier.instanceName}.DFT_ACCOUNT_STR =                 ** BLANK or char(25)
*${supplier.instanceName}.DFT_MON_BUFPOOL =                 ** ON or OFF
*${supplier.instanceName}.DFT_MON_LOCK    =                 ** ON or OFF
*${supplier.instanceName}.DFT_MON_SORT    =                 ** ON or OFF
*${supplier.instanceName}.DFT_MON_STMT    =                 ** ON or OFF
*${supplier.instanceName}.DFT_MON_TABLE   =                 ** ON or OFF
*${supplier.instanceName}.DFT_MON_UOW     =                 ** ON or OFF
*${supplier.instanceName}.DFT_MON_TIMESTAMP =               ** ON or OFF
*${supplier.instanceName}.DIAGLEVEL       =                 ** 0 - 4
*${supplier.instanceName}.DIAGPATH        =                 ** BLANK or char(215)
*${supplier.instanceName}.DIAGSIZE        =                 ** A value specified in MB and limited by the available disk space in DIAGPATH. Minimum 2 MB must be specified.
*${supplier.instanceName}.FENCED_POOL     = -1 or AUTOMATIC ** -1(MAX_COORDAGENTS), AUTOMATIC or a number in range [0, 64000]
*${supplier.instanceName}.INSTANCE_MEMORY = AUTOMATIC       ** AUTOMATIC or a number in range [0, 1000000] for 32-bit and [0, 68719476736] for 64-bit
*${supplier.instanceName}.HEALTH_MON      =                 ** default is ON; ON or OFF
*${supplier.instanceName}.MAX_CONNECTIONS = -1 or AUTOMATIC ** -1, AUTOMATIC or [1, 64000]
*${supplier.instanceName}.FED_NOAUTH      = NO              ** YES or NO, default is NO
*${supplier.instanceName}.DIR_CACHE       =                 ** YES or NO
*${supplier.instanceName}.DISCOVER        =                 ** DISABLE, KNOWN or SEARCH
*${supplier.instanceName}.DISCOVER_COMM   =                 ** BLANK or TCPIP
*${supplier.instanceName}.DISCOVER_INST   =                 ** ENABLE or DISABLE
*${supplier.instanceName}.FCM_NUM_ANCHORS =                 ** -1 or 128 - FCM_NUM_RQB
*${supplier.instanceName}.FCM_NUM_BUFFERS =                 ** 128 - 65300
*${supplier.instanceName}.FCM_NUM_CONNECT =                 ** -1 or 128 - FCM_NUM_RQB
*${supplier.instanceName}.FCM_NUM_RQB     =                 ** 128 - 120000
*${supplier.instanceName}.INDEXREC        =                 ** ACCESS or RESTART
*${supplier.instanceName}.INTRA_PARALLEL  = NO              ** SYSTEM, YES or NO
*${supplier.instanceName}.JAVA_HEAP_SZ    =                 ** 0 - 4096
*${supplier.instanceName}.JDK_PATH        =                 ** BLANK or char(255)
*${supplier.instanceName}.SSL_SVR_KEYDB   =                 ** BLANK or char(1023)
*${supplier.instanceName}.SSL_SVR_STASH   =                 ** BLANK or char(1023)
*${supplier.instanceName}.SSL_SVR_LABEL   =                 ** BLANK or char(1023)
*${supplier.instanceName}.SSL_SVCENAME    =                 ** BLANK or char(14)
*${supplier.instanceName}.SSL_CIPHERSPECS =                 ** BLANK or char(255)
*${supplier.instanceName}.SSL_VERSIONS    =                 ** BLANK or char(255)
*${supplier.instanceName}.SSL_CLNT_KEYDB  =                 ** BLANK or char(1023)
*${supplier.instanceName}.SSL_CLNT_STASH  =                 ** BLANK or char(1023)
*${supplier.instanceName}.ALTERNATE_AUTH_ENC =              ** NOT_SPECIFIED, AES_ONLY, AES_CMP
*${supplier.instanceName}.KEEPDARI        =                 ** YES or NO
*${supplier.instanceName}.MAXAGENTS       =                 ** 1 - 64000
*${supplier.instanceName}.MAXCAGENTS      =                 ** -1 or 1 - MAX_COORDAGENTS
*${supplier.instanceName}.MAXDARI         =                 ** -1 or 1 - MAX_COORDAGENTS
*${supplier.instanceName}.MAXTOTFILOP     =                 ** 100 - 32768
*${supplier.instanceName}.MAX_COORDAGENTS = 200 or AUTOMATIC ** 200, AUTOMATIC, -1 or 0 - 64000, -1 translates into a value of 200
*${supplier.instanceName}.MAX_QUERYDEGREE =                 ** ANY, -1 or 1 - 32767
*${supplier.instanceName}.MON_HEAP_SZ     = AUTOMATIC       ** AUTOMATIC or 0 - 60000
*${supplier.instanceName}.NUMDB           =                 ** 1 - 256
*${supplier.instanceName}.NUM_INITAGENTS  = 0               ** 0 - 64000
*${supplier.instanceName}.NUM_INITDARIS   =                 ** 0 - MAXDARI
*${supplier.instanceName}.NUM_INITFENCED  = 0               ** 0 - 64000
*${supplier.instanceName}.NUM_POOLAGENTS  = 100 or AUTOMATIC ** -1, AUTOMATIC or 0 - 64000
*${supplier.instanceName}.QUERY_HEAP_SZ   =                 ** 2 - 524288
*${supplier.instanceName}.RESTBUFSZ       =                 ** 16 - 524288
*${supplier.instanceName}.RESYNC_INTERVAL =                 ** 1 - 60000
*${supplier.instanceName}.ROUTE_OBJ_NAME  =                 ** BLANK or char(255)
*${supplier.instanceName}.RQRIOBLK        =                 ** 4096 - 65535
*${supplier.instanceName}.SHEAPTHRES      =                 ** 250 - 2097152
*${supplier.instanceName}.SPM_LOG_FILE_SZ =                 ** 4 - 1000
*${supplier.instanceName}.SPM_LOG_PATH    =                 ** BLANK or char(226)
*${supplier.instanceName}.SPM_MAX_RESYNC  =                 ** 10 - 256
*${supplier.instanceName}.SPM_NAME        =                 ** BLANK or char(8)
*${supplier.instanceName}.SYSADM_GROUP    =                 ** BLANK or char(30)
*${supplier.instanceName}.SYSCTRL_GROUP   =                 ** BLANK or char(30)
*${supplier.instanceName}.SYSMAINT_GROUP  =                 ** BLANK or char(30)
*${supplier.instanceName}.TP_MON_NAME     =                 ** BLANK or char(19)
*${supplier.instanceName}.TRUST_ALLCLNTS  =                 ** YES, NO or DRDAONLY
*${supplier.instanceName}.TRUST_CLNTAUTH  =                 ** CLIENT or SERVER
*${supplier.instanceName}.UDF_MEM_SZ      =                 ** 128 - 60000
*${supplier.instanceName}.FCM_NUM_CHANNELS =                ** 128, 524288
*${supplier.instanceName}.FEDERATED_ASYNC = 0               ** ANY or 0 - 32767

** Instance Profile Registry Settings
** ----------------------------------
*${supplier.instanceName}.DB2ACCOUNT      =                 ** BLANK or char(199)
*${supplier.instanceName}.DB2BIDI         =                 ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2BQTIME       =                 ** BLANK or 1 - MAX
*${supplier.instanceName}.DB2BQTRY        =                 ** BLANK or 0 - MAX
*${supplier.instanceName}.DB2CHKPTR       =                 ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2CLIINIPATH   =                 ** BLANK or char(260)
*${supplier.instanceName}.DB2CODEPAGE     =                 ** BLANK or 0 - MAX
*${supplier.instanceName}.DB2COUNTRY      =                 ** BLANK or 1 - 999
*${supplier.instanceName}.DB2DBDFT        =                 ** BLANK or char(8)
*${supplier.instanceName}.DB2DEFPREP      =                 ** BLANK, ALL, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2ENVLIST      =                 ** BLANK or char()
*${supplier.instanceName}.DB2INCLUDE      =                 ** BLANK or char()
*${supplier.instanceName}.DB2IQTIME       =                 ** BLANK or 1 - MAX
*${supplier.instanceName}.DB2LIBPATH      =                 ** BLANK or char()
*${supplier.instanceName}.DB2LOADREC      =                 ** BLANK or char(260)
*${supplier.instanceName}.DB2LOCK_TO_RB   =                 ** BLANK or STATEMENT
*${supplier.instanceName}.DB2NOEXITLIST   =                 ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2OLDEVMON     =                 ** BLANK or char()
*${supplier.instanceName}.DB2OPTIONS      =                 ** BLANK or -/+[a,c,e[c,s],n,o,p,s,t,v,w,x] and/or -[f,l,r,z]filename
*${supplier.instanceName}.DB2_OPTSTATS_LOG =                ** OFF or ON with parameters {NUM | SIZE | NAME | DIR}
*${supplier.instanceName}.DB2PRIORITIES   =                 ** BLANK or char()
*${supplier.instanceName}.DB2RQTIME       =                 ** BLANK or 1 - MAX
*${supplier.instanceName}.DB2_SET_MAX_CONTAINER_SIZE =      ** -1 (no limit) or any integer greater than 64MB
*${supplier.instanceName}.DB2SORT         =                 ** BLANK or char(260)
*${supplier.instanceName}.DB2_SYSTEM_MONITOR_SETTINGS =     ** Controls parameters OLD_CPU_USAGE and DISABLE_CPU_USAGE with ON or OFF values
*${supplier.instanceName}.DB2_AVOID_PREFETCH =              ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2_CORRELATED_PREDICATES =       ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2_FORCE_NLS_CACHE =             ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2_HASH_JOIN   =                 ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2_INDEX_FREE  =                 ** BLANK or 0 - 60
*${supplier.instanceName}.DB2_LIKE_VARCHAR =                ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T, F or 0.0 - 5.0 (exclusive)
*${supplier.instanceName}.DB2_LOADSORT_STACKSZ =            ** BLANK or 1 - MAX
*${supplier.instanceName}.DB2_NO_PKG_LOCK =                 ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2_PARALLEL_IO =                 ** BLANK, * or 0-4095,0-4095,...
*${supplier.instanceName}.DB2_PRED_FACTORIZE =              ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2_STRIPED_CONTAINERS =          ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*${supplier.instanceName}.DB2INSTOWNER    =                 ** BLANK or char(30)
*${supplier.instanceName}.DB2DBMSADDR     =                 ** BLANK or char(10)
*${supplier.instanceName}.DB2_DISABLE_FLUSH_LOG =           ** BLANK or ON, OFF
*${supplier.instanceName}.DB2LOCALE       =                 ** BLANK or YES, NO
*${supplier.instanceName}.DB2NODE         =                 ** BLANK or YES NO
*${supplier.instanceName}.DB2_USE_PAGE_CONTAINER_TAG =      ** BLANK or ON
*${supplier.instanceName}.DB2TCPCONNMGRS  =                 ** BLANK or 1 - 8
*${supplier.instanceName}.DB2_PARTITIONEDLOAD_DEFAULT =     ** BLANK or YES, NO
*${supplier.instanceName}.DB2_INLIST_TO_NLJN =              ** BLANK or YES, NO
*${supplier.instanceName}.DB2_SELECTIVITY =                 ** BLANK or YES, NO
*${supplier.instanceName}.DB2_REDUCED_OPTIMIZATION =        ** BLANK, DISABLE, YES, NO, 0 - MAX
*${supplier.instanceName}.DB2_BINSORT     =                 ** BLANK or YES, NO
*${supplier.instanceName}.DB2BPVARS       =                 ** BLANK or char()
*${supplier.instanceName}.DB2_ENABLE_BUFPD =                ** BLANK or ON, OFF
*${supplier.instanceName}.DB2_EVMON_EVENT_LIST_SIZE = 0     ** A value specified in KB, MB or GB and limited by the available memory from the monitor heap
*${supplier.instanceName}.DB2_EXTENDED_OPTIMIZATION =       ** BLANK or ON, OFF
*${supplier.instanceName}.DB2FODC         = Concatenation of all FODC parameters: CORELIMIT, DUMPCORE, DUMDIR, MEMSCAN and SERVICELEVEL ** CORELIMIT, DUMPCORE, DUMPDIR and MEMSCAN parameters are set different for Unix and Windows
*${supplier.instanceName}.DB2MAXFSCRSEARCH =                ** BLANK or -1, 1 - 33554
*${supplier.instanceName}.DB2MEMDISCLAIM  =                 ** BLANK or YES, NO
*${supplier.instanceName}.DB2_VENDOR_INI  =                 ** BLANK or char()
*${supplier.instanceName}.DB2_XBSA_LIBRARY =                ** BLANK or char()
*${supplier.instanceName}.DB2LDAP_SEARCH_SCOPE =            ** BLANK LOCAL DOMAIN GLOBAL
*${supplier.instanceName}.DB2MEMMAXFREE   =                 ** BLANK or char()
*${supplier.instanceName}.DB2NTMEMSIZE    =                 ** BLANK or char()
*${supplier.instanceName}.DB2_OVERRIDE_BPF =                ** BLANK or 1 - MAX
*${supplier.instanceName}.DB2_DJ_COMM     =                 ** BLANK or char()
*${supplier.instanceName}.DB2ADMINSERVER  =                 ** BLANK or char(64)
*${supplier.instanceName}.DB2_PINNED_BP   = NO              ** YES or NO
*${supplier.instanceName}.DB2REMOTEPREG   =                 ** BLANK or char(64)
*${supplier.instanceName}.DB2_ANTIJOIN    =                 ** BLANK or YES, NO, EXTEND
*${supplier.instanceName}.DB2_COLLECT_TS_REC_INFO =         ** BLANK or YES, NO
*${supplier.instanceName}.DB2PROCESSORS   =                 ** BLANK or 1 - MAX
*${supplier.instanceName}.DB2ASSUMEUPDATE =                 ** BLANK or ON, OFF
*${supplier.instanceName}.DB2_SKIPDELETED =                 ** BLANK or ON, OFF
*${supplier.instanceName}.DB2_SQLROUTINE_PREPOPTS =         ** BLANK or char()
*${supplier.instanceName}.DB2_INDEX_TYPE2 =                 ** BLANK or ON, OFF
*${supplier.instanceName}.DB2_APM_PERFORMANCE =             ** BLANK or ON, OFF
*${supplier.instanceName}.DB2_FMP_COMM_HEAPSZ =             ** BLANK or 1 - MAX
*${supplier.instanceName}.DB2_EVALUNCOMMITTED =             ** BLANK or YES, NO
*${supplier.instanceName}.DB2_NO_FORK_CHECK =               ** BLANK or ON, OFF
*${supplier.instanceName}.DB2_KEEPTABLELOCK =               ** BLANK or ON, OFF
*${supplier.instanceName}.DB2GRAPHICUNICODESERVER =         ** BLANK or ON, OFF
*${supplier.instanceName}.DB2_MINIMIZE_LISTPREFETCH =       ** BLANK or YES, NO
*${supplier.instanceName}.DB2_TRUSTED_BINDIN =              ** BLANK or ON, OFF, CHECK
*${supplier.instanceName}.DB2_CLPPROMPT   =                 ** BLANK or char(99)
*${supplier.instanceName}.DB2_FORCE_APP_ON_MAX_LOG =        ** BLANK or TRUE, FALSE
*${supplier.instanceName}.DB2_CLP_EDITOR  =                 ** BLANK or char()
*${supplier.instanceName}.DB2_CLP_HISTSIZE =                ** BLANK or 1 - 500
*${supplier.instanceName}.DB2_LOAD_COPY_NO_OVERRIDE =       ** BLANK or LOCAL, DOMAIN, GLOBAL
*${supplier.instanceName}.DB2_MAX_NON_TABLE_LOCKS =         ** BLANK or 1 - MAX
*${supplier.instanceName}.DB2_USE_ALTERNATE_PAGE_CLEANING =  ** BLANK or ON, OFF
*${supplier.instanceName}.DB2_SCATTERED_IO =                ** BLANK or ON, OFF
*${supplier.instanceName}.DB2_NO_MPFA_FOR_NEW_DB =          ** BLANK or YES, NO
*${supplier.instanceName}.DB2_OBJECT_TABLE_ENTRIES =        ** BLANK or 0 - 50000
*${supplier.instanceName}.DB2_VIEW_REOPT_VALUES =           ** BLANK or YES, NO
*${supplier.instanceName}.DB2_SELUDI_COMM_BUFFER =          ** BLANK or ON, OFF
*${supplier.instanceName}.DB2_ENABLE_AUTOCONFIG_DEFAULT =   ** BLANK, YES, NO
*${supplier.instanceName}.DB2_OPT_MAX_TEMP_SIZE =           ** BLANK or 0 - MAX
*${supplier.instanceName}.DB2RCMD_LEGACY_MODE =             ** YES, ON, TRUE, 1 or NO, OFF, FALSE, 0
*${supplier.instanceName}.DB2_LARGE_PAGE_MEM =              ** *, DB
*${supplier.instanceName}.DB2_MAX_LOB_BLOCK_SIZE = 0        ** 0 - 21487483647
*${supplier.instanceName}.DB2AUTH         =                 ** BLANK or char()
*${supplier.instanceName}.DB2CONNECT_DISCONNECT_ON_INTERRUPT = NO ** YES, TRUE, 1 or NO, FALSE, 0
*${supplier.instanceName}.DB2CONNECT_ENABLE_EURO_CODEPAGE =  ** BLANK or char()
*${supplier.instanceName}.DB2FCMCOMM      = TCPIP4          ** TCPIP4 or TCPIP6
*${supplier.instanceName}.DB2FFDC         =                 ** BLANK, ON, CORE:OFF
*${supplier.instanceName}.DB2LOADFLAGS    =                 ** BLANK or char()
*${supplier.instanceName}.DB2TCP_CLIENT_CONTIMEOUT = 0      ** 0 - 32767
*${supplier.instanceName}.DB2TCP_CLIENT_RCVTIMEOUT = 0      ** 0 - 32767
*${supplier.instanceName}.DB2TRC_DEF_BUFFSIZE =             ** BLANK or char()
*${supplier.instanceName}.DB2YIELD        =                 ** BLANK or char()
*${supplier.instanceName}.DB2_ASYNC_IO_MAXFILOP = MAXFILOP  ** MAXFILOP - MAX
*${supplier.instanceName}.DB2_BAR_AUTONOMIC_DISABLE =       ** BLANK or char()
*${supplier.instanceName}.DB2_CONNRETRIES_INTERVAL =        ** BLANK or char()
*${supplier.instanceName}.DB2_DXX_PATHS_ALLOWED_READ =      ** BLANK or char()
*${supplier.instanceName}.DB2_DXX_PATHS_ALLOWED_WRITE =     ** BLANK or char()
*${supplier.instanceName}.DB2_HADR_BUF_SIZE = 2*LOGBUFSZ    ** BLANK or 0 - MAX
*${supplier.instanceName}.DB2_LOGGING_DETAIL =              ** BLANK or char()
*${supplier.instanceName}.DB2_MAP_XML_AS_CLOB_FOR_DLC = NO  ** YES, NO
*${supplier.instanceName}.DB2_MAX_CLIENT_CONNRETRIES =      ** BLANK or char()
*${supplier.instanceName}.DB2_MAX_INACT_STMTS =             ** 0 - 4294967296
*${supplier.instanceName}.DB2_MDC_ROLLOUT = IMMEDIATE       ** DEFER, IMMEDIATE or OFF
*${supplier.instanceName}.DB2_MINIMUM_CLIENT_LEVEL =        ** BLANK or char()
*${supplier.instanceName}.DB2_NUM_CKPW_DAEMONS = 3          ** 0 - 100
*${supplier.instanceName}.DB2_RESOURCE_POLICY =             ** valid path to configuration file
*${supplier.instanceName}.DB2_SKIPINSERTED = OFF            ** ON, OFF
*${supplier.instanceName}.DB2_SMS_TRUNC_TMPTABLE_THRESH =   ** -1, 0-n where n is the number of extents per container that are to be maintained
*${supplier.instanceName}.DB2_SNAPSHOT_NOAUTH =             ** BLANK or char()
*${supplier.instanceName}.DB2_TAPEMGR_TAPE_EXPIRATION =     ** BLANK or char()
*${supplier.instanceName}.DB2_UPDDBCFG_SINGLE_DBPARTITION =  ** YES, 1, TRUE or NO, 0, FALSE
*${supplier.instanceName}.DB2_USE_DB2JCCT2_JROUTINE =       ** ON, YES, 1, TRUE or OFF, NO, 0, FALSE
*${supplier.instanceName}.DB2_UTIL_MSGPATH = instanceName/tmp directory ** BLANK or char()
*${supplier.instanceName}.DB2_WORKLOAD    = Not set         ** BLANK, SAP

** 2nd (non-pureScale) Instance Creation Settings
** ----------------------------------------------
** Multiple (non-pureScale) DB2 instances can be created in the same
** installation. This section shows how to specify the 2nd instance in the rsp
** file. Note: Only a subset of the instance keywords are listed below. You can
** specify other instance related keywords similar as the 1st instance. All
** keywords in this section are commented out. By default, only one instance
** will be created during the install.

** Prefix name of this instance set. Its value is used by all keywords for the
** same instance.
*INSTANCE                 = DB2_INS2        ** char(8) no spaces
*DB2_INS2.NAME            = db2inst2        ** char(8)  no spaces, no upper case letters

** Use a generated UID if no value provided - highly recommended.
*DB2_INS2.UID             =                 ** Unsigned integer
*DB2_INS2.GROUP_NAME      = db2iadm1        ** char(30) no spaces

** Use a generated GID if no value provided - highly recommended.
*DB2_INS2.GID             =                 ** Unsigned integer
*DB2_INS2.HOME_DIRECTORY  =                 ** char(64) no spaces. Valid for root install only
*DB2_INS2.PASSWORD        = Replace with your password ** Valid for root install only

** Administration Server Creation Settings
** ---------------------------------------
** Valid for root installation only. User IDs managed by NIS/NIS+ are not
** supported. If an existing ID is used, make sure it is not locked and its
** password has not expired.
*DAS_USERNAME             =                 ** char(8)  no spaces, no upper case letters
*DAS_UID                  =                 ** use db2 generated UID if no values provided(highly recommended) OR a valid unsign int
*DAS_GROUP_NAME           =                 ** char(30)  no spaces
*DAS_GID                  =                 ** use db2 generated GID if no values provided(highly recommended) OR a valid unsign int
*DAS_HOME_DIRECTORY       =                 ** char(64) no spaces
*DAS_PASSWORD             =                 ** char(8)
*DAS_SMTP_SERVER          =                 ** char(64) no spaces

** Global Profile Registry Settings
** --------------------------------
*DB2ACCOUNT               =                 ** BLANK or char(199)
*DB2BIDI                  =                 ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*DB2BQTIME                =                 ** BLANK or 1 - MAX
*DB2BQTRY                 =                 ** BLANK or 0 - MAX
*DB2CHKPTR                =                 ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*DB2CLIINIPATH            =                 ** BLANK or char(260)
*DB2CODEPAGE              =                 ** BLANK or 0 - MAX
*DB2COMM                  =                 ** BLANK or TCPIP
*DB2COUNTRY               =                 ** BLANK or 1 - 999
*DB2DBDFT                 =                 ** BLANK or char(8)
*DB2DEFPREP               =                 ** BLANK, ALL, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*DB2ENVLIST               =                 ** BLANK or char()
*DB2IQTIME                =                 ** BLANK or 1 - MAX
*DB2LDAPCACHE             =                 ** YES or NO
*DB2LDAPHOST              =                 ** BLANK or char()
*DB2LDAP_BASEDN           =                 ** BLANK or char()
*DB2LDAP_CLIENT_PROVIDER  =                 ** BLANK, MICROSOFT or IBM
*DB2LIBPATH               =                 ** BLANK or char()
*DB2LOADREC               =                 ** BLANK or char(1023)
*DB2LOCK_TO_RB            =                 ** BLANK or STATEMENT
*DB2NOEXITLIST            =                 ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*DB2OLDEVMON              =                 ** BLANK or char()
*DB2OPTIONS               =                 ** BLANK or -/+[a,c,e[c,s],n,o,p,s,t,v,w,x] and/or -[f,l,r,z]filename
*DB2_OPTSTATS_LOG         =                 ** OFF or ON with parameters {NUM | SIZE | NAME | DIR}
*DB2PRIORITIES            =                 ** BLANK or char()
*DB2RQTIME                =                 ** BLANK or 1 - MAX
*DB2_SET_MAX_CONTAINER_SIZE =               ** -1 (no limit) or any integer greater than 64MB
*DB2SORT                  =                 ** BLANK or char(1023)
*DB2SYSTEM                =                 ** char(64)
*DB2_SYSTEM_MONITOR_SETTINGS =              ** Controls parameters OLD_CPU_USAGE and DISABLE_CPU_USAGE with ON or OFF values
*DB2_ENABLE_LDAP          =                 ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*DB2_FORCE_NLS_CACHE      =                 ** BLANK, 0, 1, YES, NO, ON, OFF, Y, N, TRUE, FALSE, T or F
*DB2INSTOWNER             =                 ** BLANK or char(30)
*DB2DBMSADDR              =                 ** BLANK or char(10)
*DB2_DISABLE_FLUSH_LOG    =                 ** BLANK or ON, OFF
*DB2_LIC_STAT_SIZE        =                 ** BLANK or 0 - 32767
*DB2LOCALE                =                 ** BLANK or YES, NO
*DB2NODE                  =                 ** BLANK or YES NO
*DB2_USE_PAGE_CONTAINER_TAG =               ** BLANK or ON
*DB2TCPCONNMGRS           =                 ** BLANK or 1 - 8
*DB2_PARTITIONEDLOAD_DEFAULT =              ** BLANK or YES, NO
*DB2_INLIST_TO_NLJN       =                 ** BLANK or YES, NO
*DB2_SELECTIVITY          =                 ** BLANK or YES, NO
*DB2_REDUCED_OPTIMIZATION =                 ** BLANK, DISABLE, YES, NO, 0 - MAX
*DB2_BINSORT              =                 ** BLANK or YES, NO
*DB2BPVARS                =                 ** BLANK or char()
*DB2_ENABLE_BUFPD         =                 ** BLANK or ON, OFF
*DB2_EVMON_EVENT_LIST_SIZE = 0              ** A value specified in KB, MB or GB but limited by the available memory from the monitor heap
*DB2_EXTENDED_OPTIMIZATION =                ** BLANK or ON, OFF
*DB2FODC                  = Concatenation of all FODC parameters: CORELIMIT, DUMPCORE, DUMDIR and MEMSCAN; and their values ** CORELIMIT, DUMPCORE, DUMPDIR and MEMSCAN parameters are set different for Unix and Windows
*DB2MAXFSCRSEARCH         =                 ** BLANK or -1, 1 - 33554
*DB2MEMDISCLAIM           =                 ** BLANK or YES, NO
*DB2_VENDOR_INI           =                 ** BLANK or char()
*DB2_XBSA_LIBRARY         =                 ** BLANK or char()
*DB2LDAP_SEARCH_SCOPE     =                 ** BLANK LOCAL DOMAIN GLOBAL
*DB2MEMMAXFREE            =                 ** BLANK or char()
*DB2NTMEMSIZE             =                 ** BLANK or char()
*DB2_OVERRIDE_BPF         =                 ** BLANK or 1 - MAX
*DB2_DJ_COMM              =                 ** BLANK or char()
*DB2ADMINSERVER           =                 ** BLANK or char(64)
*DB2_PINNED_BP            = NO              ** YES or NO
*DB2REMOTEPREG            =                 ** BLANK or char(64)
*DB2_ANTIJOIN             =                 ** BLANK or YES, NO, EXTEND
*DB2_COLLECT_TS_REC_INFO  =                 ** BLANK or YES, NO
*DB2PROCESSORS            =                 ** BLANK or 1 - MAX
*DB2ASSUMEUPDATE          =                 ** BLANK or ON, OFF
*DB2_SKIPDELETED          =                 ** BLANK or ON, OFF
*DB2_SQLROUTINE_PREPOPTS  =                 ** BLANK or char()
*DB2_INDEX_TYPE2          =                 ** BLANK or ON, OFF
*DB2_APM_PERFORMANCE      =                 ** BLANK or ON, OFF
*DB2_FMP_COMM_HEAPSZ      =                 ** BLANK or 1 - MAX
*DB2_EVALUNCOMMITTED      =                 ** BLANK or YES, NO
*DB2_NO_FORK_CHECK        =                 ** BLANK or ON, OFF
*DB2_KEEPTABLELOCK        =                 ** BLANK or ON, OFF
*DB2GRAPHICUNICODESERVER  =                 ** BLANK or ON, OFF
*DB2_MINIMIZE_LISTPREFETCH =                ** BLANK or YES, NO
*DB2_TRUSTED_BINDIN       =                 ** BLANK or ON, OFF, CHECK
*DB2_CLPPROMPT            =                 ** BLANK or char(99)
*DB2_FORCE_APP_ON_MAX_LOG =                 ** BLANK or TRUE, FALSE
*DB2_CLP_EDITOR           =                 ** BLANK or char()
*DB2_CLP_HISTSIZE         =                 ** BLANK or 1 - 500
*DB2_LOAD_COPY_NO_OVERRIDE =                ** BLANK or LOCAL, DOMAIN, GLOBAL
*DB2_MAX_NON_TABLE_LOCKS  =                 ** BLANK or 1 - MAX
*DB2_USE_ALTERNATE_PAGE_CLEANING =          ** BLANK or ON, OFF
*DB2_SCATTERED_IO         =                 ** BLANK or ON, OFF
*DB2_NO_MPFA_FOR_NEW_DB   =                 ** BLANK or YES, NO
*DB2_OBJECT_TABLE_ENTRIES =                 ** BLANK or 0 - 50000
*DB2_VIEW_REOPT_VALUES    =                 ** BLANK or YES, NO
*DB2_SELUDI_COMM_BUFFER   =                 ** BLANK or ON, OFF
*DB2_ENABLE_AUTOCONFIG_DEFAULT =            ** BLANK, YES, NO
*DB2_OPT_MAX_TEMP_SIZE    =                 ** BLANK or 0 - MAX
*DB2RCMD_LEGACY_MODE      =                 ** YES, ON, TRUE, 1 or NO, OFF, FALSE, 0
*DB2_LARGE_PAGE_MEM       =                 ** *, DB
*DB2_MAX_LOB_BLOCK_SIZE   = 0               ** 0 - 21487483647
*DB2AUTH                  =                 ** BLANK or char()
*DB2CONNECT_DISCONNECT_ON_INTERRUPT = NO    ** YES, TRUE, 1 or NO, FALSE, 0
*DB2CONNECT_ENABLE_EURO_CODEPAGE =          ** BLANK or char()
*DB2FCMCOMM               = TCPIP4          ** TCPIP4 or TCPIP6
*DB2FFDC                  =                 ** BLANK, ON, CORE:OFF
*DB2LOADFLAGS             =                 ** BLANK or char()
*DB2TCP_CLIENT_CONTIMEOUT = 0               ** 0 - 32767
*DB2TCP_CLIENT_RCVTIMEOUT = 0               ** 0 - 32767
*DB2TRC_DEF_BUFFSIZE      =                 ** BLANK or char()
*DB2YIELD                 =                 ** BLANK or char()
*DB2_ASYNC_IO_MAXFILOP    = MAXFILOP        ** MAXFILOP - MAX
*DB2_BAR_AUTONOMIC_DISABLE =                ** BLANK or char()
*DB2_CONNRETRIES_INTERVAL =                 ** BLANK or char()
*DB2_DXX_PATHS_ALLOWED_READ =               ** BLANK or char()
*DB2_DXX_PATHS_ALLOWED_WRITE =              ** BLANK or char()
*DB2_HADR_BUF_SIZE        = 2*LOGBUFSZ      ** BLANK or 0 - MAX
*DB2_LOGGING_DETAIL       =                 ** BLANK or char()
*DB2_MAP_XML_AS_CLOB_FOR_DLC = NO           ** YES, NO
*DB2_MAX_CLIENT_CONNRETRIES =               ** BLANK or char()
*DB2_MAX_INACT_STMTS      =                 ** 0 - 4294967296
*DB2_MDC_ROLLOUT          = IMMEDIATE       ** DEFER, IMMEDIATE or OFF
*DB2_MINIMUM_CLIENT_LEVEL =                 ** BLANK or char()
*DB2_NUM_CKPW_DAEMONS     = 3               ** 0 - 100
*DB2_RESOURCE_POLICY      =                 ** valid path to configuration file
*DB2_SKIPINSERTED         = OFF             ** ON, OFF
*DB2_SMS_TRUNC_TMPTABLE_THRESH =            ** -1, 0-n where n is the number of extents per container that are to be maintained
*DB2_SNAPSHOT_NOAUTH      =                 ** BLANK or char()
*DB2_TAPEMGR_TAPE_EXPIRATION =              ** BLANK or char()
*DB2_DJ_COMM              = OFF             ** ON or OFF
*DB2_UPDDBCFG_SINGLE_DBPARTITION =          ** YES, 1, TRUE or NO, 0, FALSE
*DB2_USE_DB2JCCT2_JROUTINE =                ** ON, YES, 1, TRUE or OFF, NO, 0, FALSE
*DB2_UTIL_MSGPATH         = instanceName/tmp directory ** BLANK or char()
*DB2_WORKLOAD             = Not set         ** BLANK, SAP

** Database Settings
** -----------------
*DATABASE                 =                 ** databas1: char(8) no spaces - this is the prefix for this DB set
*databas1.DATABASE_NAME   =                 ** favorateDB: char(8) no spaces - this is the real database
*databas1.INSTANCE        =                 ** db2inst1: char(8)  no spaces - one value of INSTANCE keyword
*databas1.ALIAS           =                 ** alias of databas1: char(8) no spaces and can not start with SYS, DBM or IBM
*databas1.LOCATION        =                 ** local, remote, LOCAL or REMOTE; For client only product use remote or REMOTE
*databas1.SYSTEM_NAME     =                 ** some remote host char(64) no spaces: for LOCATION=remote only
*databas1.AUTHENTICATION  =                 ** CLIENT, SERVER, SERVER_ENCRYPT: optional
*databas1.PATH            =                 ** the directory for the database: optional
*databas1.SVCENAME        =                 ** service1: for remote LOCATION only
*databas1.USERNAME        =                 ** db2user: char(8)  no spaces
*databas1.PASSWORD        =                 ** db2pwd: char(8)  no spaces

** Contact List Settings
** ---------------------
** Valid for root installation only
*DAS_CONTACT_LIST         =                 ** LOCAL or REMOTE
*DAS_CONTACT_LIST_HOSTNAME =                ** hostname for REMOTE CONTACT_LIST
*DAS_CONTACT_LIST_USERNAME =                ** contactL: char(8)  no spaces
*DAS_CONTACT_LIST_DOMAIN  =                 ** contactLdomain: char(14)
*DAS_CONTACT_LIST_PASSWORD =                ** contactLpasswd: char(14)

** Contact Information For Each Instance
** -------------------------------------
** Valid for root installation only
*CONTACT                  = contact1        ** contact1, char(80)
*contact1.NEW_CONTACT     = YES             ** YES or NO
*contact1.CONTACT_NAME    =                 ** userName
*contact1.EMAIL           =                 ** sysadmin@yourcompany.com - email address where the notification should be sent
*contact1.PAGER           =                 ** YES or NO
*contact1.INSTANCE        =                 ** ${supplier.instanceName} - instance that this contact belongs to, this should be one of the values of keyword INSTANCE.

** Information Center Settings
** ---------------------------
** The default location for accessing the DB2 documentation is the IBM website.
** Only edit this section if you wish to access DB2 documentation from a
** different location, such as your local computer or an intranet server.

** The following DB2_DOCHOST keyword is used to specify where the Information
** Center server is installed. For example, "localhost" for the local computer.
*DB2_DOCHOST              =                 ** Any valid hostname

** The following DB2_DOCPORT keyword is used to specify the port number of the
** Information Center server.
*DB2_DOCPORT              =                 ** 1024-65535

