name: Build and Test Branch

on:
  workflow_dispatch:
  push:
    branches:
      - '**DAT-**'
jobs:
  build:
    name: Build & Package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3

      - name: Set up Java for publishing to GitHub Repository
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          server-id: github

      # Version artifact based off of branch and commit SHA.
      - name: Version Artifact
        run: mvn versions:set -DnewVersion="${{ github.ref_name }}-SNAPSHOT"

      - name: Publish package
        run: mvn -B clean deploy -DskipTests=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}