name: Build Azure Uber jar

on:
  workflow_call:
    inputs:
      branch:
        description: 'branch to check out'
        required: true
        type: string
      liquibase-version:
        description: 'liquibase version'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      branch:
          description: 'branch to check out'
          required: true
          type: string
      liquibase-version:
          description: 'liquibase version'
          required: true
          type: string

env:
  MAVEN_VERSION: '3.9.2'

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout liquibase-pro
        uses: actions/checkout@v4
        with:
          repository: liquibase/liquibase-pro
          ref: ${{ inputs.branch }}
          token: ${{ secrets.BOT_TOKEN }}
          path: liquibase-pro

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'

      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@v22
        with:
          repositories: |
            [
              {
                "id": "liquibase",
                "url": "https://maven.pkg.github.com/liquibase/liquibase",
                "releases": {
                  "enabled": "false"
                },
                "snapshots": {
                  "enabled": "true",
                  "updatePolicy": "always"
                }
              },
              {
                "id": "liquibase-pro",
                "url": "https://maven.pkg.github.com/liquibase/liquibase-pro",
                "releases": {
                  "enabled": "false"
                },
                "snapshots": {
                  "enabled": "true",
                  "updatePolicy": "always"
                }
              }
            ]
          plugin_repositories: |
            [
              {
                "id": "file-replacer-maven-plugin",
                "url": "https://maven.pkg.github.com/StevenMassaro/file-replacer-maven-plugin",
                "releases": {
                  "updatePolicy": "always",
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "true",
                  "updatePolicy": "always"
                }
              }
            ]
          servers: |
            [
              {
                "id": "liquibase",
                "username": "liquibot",
                "password": "${{ secrets.LIQUIBOT_PAT }}"
              },
              {
                "id": "liquibase-pro",
                "username": "liquibot",
                "password": "${{ secrets.LIQUIBOT_PAT }}"
              },
              {
                "id": "file-replacer-maven-plugin",
                "username": "liquibot",
                "password": "${{ secrets.LIQUIBOT_PAT }}"
              }
            ]

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: ${{ env.MAVEN_VERSION }}

      - name: Set version
        run: |
          cd liquibase-pro/liquibase-azure-deps && mvn versions:set -DnewVersion=${{ inputs.liquibase-version }}

      - name: Build & Test
        run: |
          cd liquibase-pro/liquibase-azure-deps && mvn -B clean package

      - name: Archive Modules
        uses: actions/upload-artifact@v3
        with:
          name: liquibase-pro-azure-artifacts
          path: liquibase-pro/liquibase-azure-deps/target/liquibase-azure-deps-${{ inputs.liquibase-version }}.jar

