name: Build Azure Uber jar

on:
  workflow_call:
    inputs:
      branch:
        description: 'branch to check out'
        required: true
        type: string
      liquibase-version:
        description: 'liquibase version'
        required: true
        type: string
  workflow_dispatch:

env:
  MAVEN_VERSION: '3.9.2'

jobs:

  build:
    name: Build
    runs-on: ubuntu-22.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:

      - uses: actions/checkout@v3
        name: Checkout liquibase-pro
        with:
          repository: liquibase/liquibase-pro
          ref: ${{ inputs.branch}}
          token: ${{ secrets.LIQUIBOT_PAT }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'

      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@v20
        with:
          repositories: |
            [
              {
                "id": "file-replacer-maven-plugin",
                "url": "https://maven.pkg.github.com/StevenMassaro/file-replacer-maven-plugin",
                "releases": {
                  "updatePolicy": "always",
                  "enabled": "false"
                },
                "snapshots": {
                  "enabled": "true",
                  "updatePolicy": "always"
                }
              }
            ]
          servers: |
            [
              "id": "file-replacer-maven-plugin",
              "username": "liquibot",
              "password": "${{ secrets.LIQUIBOT_PAT }}"
            ]

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: ${{ env.MAVEN_VERSION }}

      - name: Set version
        run: mvn versions:set -DnewVersion=${{ inputs.liquibase-version }}

      - name: Build & Test
        run: mvn -B clean package

      - name: Archive Modules
        uses: actions/upload-artifact@v3
        with:
          name: liquibase-pro-azure-artifacts
          path: |
            */target/*.jar
