name: Cleanup on Branch Delete

on:
  workflow_dispatch:
  delete:
    branches:
      - '**DAT-**'
      - 'github-action-**'
      - 'dependabot-**'
      - 'feat/**'
jobs:

  delete-dat-package:
    name: Delete DAT-SNAPSHOT Github Package for Branch
    runs-on: ubuntu-22.04

    steps:

    - name: Extract branch name
      shell: bash
      run: |
        BRANCH_NAME=${GITHUB_REF#refs/heads/}
        echo "Branch name is $BRANCH_NAME"
        echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV

      # Get version id(s) based on version name
    - uses: castlabs/get-package-version-id-action@v2.2
      id: version
      with:
        version: "${{ env.BRANCH_NAME }}-SNAPSHOT"

      # show versions to delete
    - run: |
        echo "Version to delete ${{ steps.version.outputs.ids }} for ${{ env.BRANCH_NAME }}-SNAPSHOT"
    
    - uses: actions/delete-package-versions@v3
      if: ${{ steps.version.outputs.ids != '' }}
      with:
        package-type: maven
        # The number of latest versions to keep.
        # This cannot be specified with `num-old-versions-to-delete`. By default, `num-old-versions-to-delete` takes precedence over `min-versions-to-keep`.
        # When set to 0, all deletable versions will be deleted.
        # When set greater than 0, all deletable package versions except the specified number will be deleted.
        min-versions-to-keep: 0
        
        # on branch id's deletion we only want to delete that particular branch version
        package-version-ids: "${{ steps.version.outputs.ids }}"

  delete-sha-package:
    name: Delete SHA-SNAPSHOT Github Package for Branch
    needs: delete-dat-package
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        packages_to_delete: [org.liquibase.liquibase-core, org.liquibase.liquibase-extension-testing, org.liquibase.liquibase-integration-tests, org.liquibase.liquibase-maven-plugin, org.liquibase.liquibase-cdi-jakarta, org.liquibase.liquibase-cdi, org.liquibase.liquibase]

    steps:

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 
        ref: ${{ github.event.ref }}

    - name: Extract branch name
      shell: bash
      run: |
        BRANCH_NAME=${GITHUB_REF#refs/heads/}
        echo "Branch name is $BRANCH_NAME"
        echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV

    - name: Get commits between ${{ env.BRANCH_NAME }} and master
      run: |
        git fetch origin master
        COMMITS=$(git rev-list --reverse ${GITHUB_SHA}..origin/master)
        COMMITS_LIST=$(echo "$COMMITS" | tr '\n' ',' | sed 's/,$//')
        echo "COMMITS_LIST=$COMMITS_LIST" >> $GITHUB_ENV
        echo "Commits between $BRANCH_NAME and master: $COMMITS_LIST"

    - name: Get commits between ${{ env.BRANCH_NAME }} and release
      run: |
        git fetch origin release
        COMMITS=$(git rev-list --reverse ${GITHUB_SHA}..origin/release)
        COMMITS_LIST=$(echo "$COMMITS" | tr '\n' ',' | sed 's/,$//')
        echo "COMMITS_LIST_RELEASE=$COMMITS_LIST" >> $GITHUB_ENV
        echo "Commits between $BRANCH_NAME and release: $COMMITS_LIST"

    - name: Prepare list of package versions to delete
      id: prepare-packages
      run: |
        MASTER_COMMITS="${{ env.COMMITS_LIST }}"
        RELEASE_COMMITS="${{ env.COMMITS_LIST_RELEASE }}"
        PACKAGE_VERSIONS=""

        for COMMIT in $(echo "$MASTER_COMMITS,$RELEASE_COMMITS" | tr ',' '\n'); do
          if [ -n "$COMMIT" ]; then
            PACKAGE_VERSIONS="${PACKAGE_VERSIONS}${COMMIT}-SNAPSHOT,"
          fi
        done

        # Remove trailing comma
        PACKAGE_VERSIONS="${PACKAGE_VERSIONS%,}"
        echo "PACKAGE_VERSIONS=$PACKAGE_VERSIONS" >> $GITHUB_ENV
        echo "Package versions to query: $PACKAGE_VERSIONS"

    - name: Get package version IDs
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        PACKAGE_IDS=""
        ORG="liquibase"
        PACKAGE_TYPE="maven"

        for VERSION in $(echo "${{ env.PACKAGE_VERSIONS }}" | tr ',' '\n'); do
          echo "Processing version: $VERSION"

          ID=$(gh api "orgs/$ORG/packages/$PACKAGE_TYPE/${{ matrix.packages_to_delete }}/versions" | jq -r --arg VERSION "$VERSION" '.[] | select(.name == $VERSION) | .id')

          if [ -n "$ID" ]; then
            echo "Found ID: $ID for version $VERSION"
            PACKAGE_IDS="${PACKAGE_IDS}${ID},"
          else
            echo "No ID found for version $VERSION"
          fi
        done
        echo "PACKAGE_IDS=$PACKAGE_IDS" >> $GITHUB_ENV
        echo "Package ID versions to delete: $PACKAGE_IDS"
    
    - name: Delete package versions
      if: env.PACKAGE_VERSIONS != ''
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        for ID in $(echo "${{ env.PACKAGE_IDS }}" | tr ',' '\n'); do
          echo "Deleting package version with ID: $ID"
          gh api -X DELETE "orgs/liquibase/packages/maven/${{ matrix.packages_to_delete }}/versions/$ID"
        done
