name: Cleanup Master Builds on Release Published

on:
  workflow_dispatch:
  release:
    types: [ published ]

jobs:
  delete-package:
    name: Delete Github Packages for Master/Main
    runs-on: ubuntu-20.04
    steps:

    - uses: actions/delete-package-versions@v4
      with:
        # Name of the package.
        # Defaults to an empty string.
        # Required if `package-version-ids` input is not given.
        package-name: org.liquibase.liquibase-core

        # The number of latest versions to keep.
        # This cannot be specified with `num-old-versions-to-delete`. By default, `num-old-versions-to-delete` takes precedence over `min-versions-to-keep`.
        # When set to 0, all deletable versions will be deleted.
        # When set greater than 0, all deletable package versions except the specified number will be deleted.
        min-versions-to-keep: 0

        # The package versions to exclude from deletion.
        # Takes regex for the version name as input.
        # By default nothing is ignored.
        ignore-versions: '^DAT-.*-SNAPSHOT$'
