name: Attach Artifacts To Draft Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version (example: 4.8.2)'
        required: true
      branch:
        description: 'Branch to release (Defaults to master)'
        required: false
        default: 'master'
      runId:
        description: 'RunId of liquibase/liquibase artifacts to attach'
        required: true
      standalone_zip:
        description: 'Flag to indicate if the workflow is triggered to create a standalone zip'
        required: false
        type: boolean
        default: false
      dry_run:
        description: 'Flag to indicate if the workflow is triggered to create a dry-run release'
        required: false
        type: boolean
        default: false
  workflow_call:
    inputs:
      version:
        description: 'Version (example: 4.8.2)'
        required: true
        type: string
      branch:
        description: 'Branch to release (Defaults to master)'
        required: false
        default: 'master'
        type: string
      runId:
        description: 'RunId of liquibase/liquibase artifacts to attach'
        required: true
        type: string
      standalone_zip:
        description: 'Flag to indicate if the workflow is triggered to create a standalone zip'
        required: true
        type: boolean
        default: false
      dry_run:
        description: 'Flag to indicate if the workflow is triggered to create a dry-run release'
        required: true
        type: boolean
        default: false

env:
  DEPENDENCIES: "liquibase-bigquery" # Comma separated list of dependencies to release the extensions list
  EXTENSIONS: "liquibase-commercial-bigquery,liquibase-checks" # Comma separated list of extensions to release to GPM

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-22.04
    outputs:
      version: ${{ inputs.version }}
      branch: ${{ inputs.branch }}
      runId: ${{ inputs.runId }}
      uber_jar_runId: ${{ steps.get_run_id.outputs.run_id }}
      dependencies: ${{ env.DEPENDENCIES }}
      extensions: ${{ env.EXTENSIONS }}
    steps:
      - run: |
          echo "Creating version ${{ inputs.version }} from ${{ inputs.branch }} with artifacts from build ${{ inputs.runId }} "

  owasp-scanner:
    needs: [ setup ]
    uses: liquibase/build-logic/.github/workflows/owasp-scanner.yml@main
    with:
      branch: ${{ needs.setup.outputs.branch }}
    secrets: inherit

  build-azure-uber-jar:
   needs: [ setup, owasp-scanner ]
   uses: ./.github/workflows/build-azure-uber-jar.yml
   with:
     branch: ${{ needs.setup.outputs.branch }}
     liquibase-version: ${{ needs.setup.outputs.version }}
   secrets: inherit

  build-extension-jars:
   needs: [ setup, owasp-scanner ]
   uses: ./.github/workflows/build-extension-jars.yml
   with:
     liquibase-version: ${{ needs.setup.outputs.version }}
     dependencies: ${{ needs.setup.outputs.dependencies }}
     extensions: ${{ needs.setup.outputs.extensions }}
     branch: ${{ needs.setup.outputs.branch }}
   secrets: inherit

  get-liquibase-checks-version:
    needs: [ setup ]
    if: ${{ contains(needs.setup.outputs.extensions, 'liquibase-checks') }}
    runs-on: ubuntu-latest
    outputs:
        version: ${{ steps.extract-version.outputs.version }}
    steps:
        - uses: actions/checkout@v4
          with:
            repository: liquibase/liquibase-checks
            token: ${{ secrets.BOT_TOKEN }}

        - id: extract-version
          name: Extract version from pom.xml
          shell: bash
          run: |
              VERSION=$(grep '<version>' pom.xml | head -n 1 | sed 's/.*<version>\(.*\)-SNAPSHOT<\/version>.*/\1/')
              echo "version=$VERSION" >> $GITHUB_OUTPUT

  reversion:
    needs: [ setup, build-azure-uber-jar, build-extension-jars, get-liquibase-checks-version ]
    name: Re-version artifacts ${{ needs.setup.outputs.version }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/checkout@v4
        name: Checkout liquibase-pro
        with:
          repository: liquibase/liquibase-pro
          ref: "${{ needs.setup.outputs.branch }}"
          path: download/repo/liquibase-pro
          token: ${{ secrets.BOT_TOKEN }}

      - name: Download liquibase-artifacts
        uses: dawidd6/action-download-artifact@v8
        with:
          workflow: run-tests.yml
          run_id: ${{ needs.setup.outputs.runId }}
          name: liquibase-artifacts
          path: download/liquibase-artifacts

      - name: Get Current Run ID
        id: get_run_id
        run: |
          run_id=${{ github.run_id }}
          echo "uber_jar_runId=${run_id}" >> $GITHUB_OUTPUT

      - name: Download liquibase-pro-azure-artifacts
        uses: actions/download-artifact@v4
        with:
          name: liquibase-pro-azure-artifacts
          path: liquibase-pro/liquibase-azure-deps

      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@v22
        with:
          repositories: |
            [
              {
                "id": "liquibase",
                "url": "https://maven.pkg.github.com/liquibase/liquibase",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "true",
                  "updatePolicy": "always"
                }
              },
              {
                "id": "liquibase-pro",
                "url": "https://maven.pkg.github.com/liquibase/liquibase-pro",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "true",
                  "updatePolicy": "always"
                }
              }
            ]
          servers: |
            [
              {
                "id": "liquibase",
                "username": "liquibot",
                "password": "${{ secrets.LIQUIBOT_PAT_GPM_ACCESS }}"
              },
              {
                "id": "liquibase-pro",
                "username": "liquibot",
                "password": "${{ secrets.LIQUIBOT_PAT_GPM_ACCESS }}"
              }
            ]

      - name: Get extensions artifacts
        run: |
          IFS=',' read -ra ADDR <<< "${{ needs.setup.outputs.extensions }}"
          for extension in "${ADDR[@]}"; do
            if [ "$extension" != "liquibase-checks" ]; then
              mvn dependency:get -DgroupId=org.liquibase.ext -DartifactId=$extension -Dversion=${{ needs.setup.outputs.version }} -Dtransitive=false || echo "Failed to download $extension artifact"
            else
              mvn dependency:get -DgroupId=org.liquibase.ext -DartifactId=$extension -Dversion=${{ needs.get-liquibase-checks-version.outputs.version }} -Dtransitive=false || echo "Failed to download $extension artifact"
            fi
          done

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'adopt'
          gpg-private-key: ${{ secrets.GPG_SECRET }}
          gpg-passphrase: GPG_PASSPHRASE
        env:
          GPG_PASSWORD: ${{ secrets.GPG_PASSPHRASE }}

      - name: Re-version Artifacts
        env:
          GPG_PASSWORD: ${{ secrets.GPG_PASSPHRASE }}
        run: |
          scripts_branch=${{ github.ref }}
          mkdir -p $PWD/.github/util/
          # Download a script (re-version.sh) from a URL and save it to the specified directory
          curl -o $PWD/.github/util/re-version.sh https://raw.githubusercontent.com/liquibase/liquibase/$scripts_branch/.github/util/re-version.sh

          # Download another script (sign-artifacts.sh) from a URL and save it to the specified directory
          curl -o $PWD/.github/util/sign-artifacts.sh https://raw.githubusercontent.com/liquibase/liquibase/$scripts_branch/.github/util/sign-artifacts.sh
          curl -o $PWD/.github/util/ManifestReversion.java https://raw.githubusercontent.com/liquibase/liquibase/$scripts_branch/.github/util/ManifestReversion.java
          chmod +x $PWD/.github/util/re-version.sh
          chmod +x $PWD/.github/util/ManifestReversion.java
          chmod +x $PWD/.github/util/sign-artifacts.sh
          $PWD/.github/util/re-version.sh download/liquibase-artifacts "${{ needs.setup.outputs.version }}" "${{ needs.setup.outputs.branch }}"

          # Execute the sign-artifacts.sh script with specific arguments
          $PWD/.github/util/sign-artifacts.sh download/liquibase-artifacts "${{ needs.setup.outputs.version }}" "${{ needs.setup.outputs.branch }}"

          ## Sign Files
          ## liquibase-azure-deps and liquibase extensions are already on its correct version. Check reusable workflow: build-azure-uber-jar.yml and build-extension-jars.yml
          mv liquibase-pro/liquibase-azure-deps/* re-version/out

          # Modify the zip file
          unzip re-version/out/liquibase-${{ needs.setup.outputs.version }}.zip -d re-version/out/liquibase-${{ needs.setup.outputs.version }}
          mkdir -p re-version/out/liquibase-${{ needs.setup.outputs.version }}/internal/extensions
          rm -rf re-version/out/liquibase-${{ needs.setup.outputs.version }}.zip
          IFS=',' read -ra EXT <<< "${{ needs.setup.outputs.extensions }}"
          for i in "${EXT[@]}"; do
            if [ "$i" != "liquibase-checks" ]; then
              cp ~/.m2/repository/org/liquibase/ext/$i/${{ needs.setup.outputs.version }}/$i-${{ needs.setup.outputs.version }}.jar re-version/out/liquibase-${{ needs.setup.outputs.version }}/internal/extensions/$i.jar || echo "Failed to move $i artifact"
            else
              cp ~/.m2/repository/org/liquibase/ext/$i/${{ needs.get-liquibase-checks-version.outputs.version }}/$i-${{ needs.get-liquibase-checks-version.outputs.version }}.jar re-version/out/liquibase-${{ needs.setup.outputs.version }}/internal/extensions/$i.jar || echo "Failed to move $i artifact"
            fi
          done
          (cd re-version/out/liquibase-${{ needs.setup.outputs.version }} && zip -r ../liquibase-${{ needs.setup.outputs.version }}.zip . && cd .. && rm -rf liquibase-${{ needs.setup.outputs.version }})

          # Modify the tar.gz file
          mkdir -p re-version/out/liquibase-${{ needs.setup.outputs.version }}
          tar -xzvf re-version/out/liquibase-${{ needs.setup.outputs.version }}.tar.gz -C re-version/out/liquibase-${{ needs.setup.outputs.version }}
          rm -rf re-version/out/liquibase-${{ needs.setup.outputs.version }}.tar.gz
          mkdir -p re-version/out/liquibase-${{ needs.setup.outputs.version }}/internal/extensions
          for I in "${EXT[@]}"; do
            if [ "$I" != "liquibase-checks" ]; then
              cp ~/.m2/repository/org/liquibase/ext/$I/${{ needs.setup.outputs.version }}/$I-${{ needs.setup.outputs.version }}.jar re-version/out/liquibase-${{ needs.setup.outputs.version }}/internal/extensions/$I.jar || echo "Failed to move $I artifact"
            else
              cp ~/.m2/repository/org/liquibase/ext/$I/${{ needs.get-liquibase-checks-version.outputs.version }}/$I-${{ needs.get-liquibase-checks-version.outputs.version }}.jar re-version/out/liquibase-${{ needs.setup.outputs.version }}/internal/extensions/$I.jar || echo "Failed to move $I artifact"
            fi
          done
          (cd re-version/out/liquibase-${{ needs.setup.outputs.version }} && tar -czvf ../liquibase-${{ needs.setup.outputs.version }}.tar.gz * && cd .. && rm -rf liquibase-${{ needs.setup.outputs.version }})

          $PWD/.github/util/sign-artifacts.sh re-version/out

          # Move files to a specific directory
          mkdir re-version/final
          mv re-version/out/liquibase-core-${{ needs.setup.outputs.version }}.jar re-version/final
          mv re-version/out/liquibase-commercial-${{ needs.setup.outputs.version }}.jar re-version/final
          mv re-version/out/liquibase-${{ needs.setup.outputs.version }}.tar.gz re-version/final
          mv re-version/out/liquibase-${{ needs.setup.outputs.version }}.zip re-version/final
          mv re-version/out/liquibase-azure-deps-${{ needs.setup.outputs.version }}.jar re-version/final/liquibase-azure-deps-${{ needs.setup.outputs.version }}.jar
          (cd re-version/out/ && zip liquibase-additional-${{ needs.setup.outputs.version }}.zip *)
          mv re-version/out/liquibase-additional-${{ needs.setup.outputs.version }}.zip re-version/final

      - name: Cache Completed Artifacts
        uses: actions/cache@v4.2.2
        with:
          key: completed-artifacts-${{ github.run_number }}-${{ github.run_attempt }}
          path: re-version/final

      - name: Set repository tags
        if: ${{ inputs.standalone_zip == false && inputs.dry_run == false }}
        run: |
          git tag -f v${{ needs.setup.outputs.version }}
          git push -f origin v${{ needs.setup.outputs.version }}
          (cd download/repo/liquibase-pro && git tag -f v${{ needs.setup.outputs.version }})
          (cd download/repo/liquibase-pro && git push -f origin v${{ needs.setup.outputs.version }})

  build-installers:
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    needs: [ setup, reversion ]
    name: Build Installers
    runs-on: macos-13 #needs macos for apple notarization
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Restore Completed Artifacts
        uses: actions/cache@v4.2.2
        with:
          key: completed-artifacts-${{ github.run_number }}-${{ github.run_attempt }}
          path: re-version/final

      - name: Set up JDK for GPG
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'adopt'
          gpg-private-key: ${{ secrets.GPG_SECRET }}
          gpg-passphrase: GPG_PASSPHRASE
        env:
          GPG_PASSWORD: ${{ secrets.GPG_PASSPHRASE }}


      - name: Re-version Installers
        env:
          INSTALL4J_10_LICENSE: ${{ secrets.INSTALL4J_10_LICENSE }}
          INSTALL4J_APPLE_KEY: ${{ secrets.INSTALL4J_APPLE_KEY }}
          INSTALL4J_APPLE_KEY_PASSWORD: ${{ secrets.INSTALL4J_APPLE_KEY_PASSWORD }}
          INSTALL4J_APPLE_ID: ${{ secrets.INSTALL4J_APPLE_ID }}
          INSTALL4J_APPLE_ID_PASSWORD: ${{ secrets.INSTALL4J_APPLE_ID_PASSWORD }}
          INSTALL4J_WINDOWS_KEY: ${{ secrets.INSTALL4J_WINDOWS_KEY }}
          INSTALL4J_WINDOWS_KEY_PASSWORD: ${{ secrets.INSTALL4J_WINDOWS_KEY_PASSWORD }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSPHRASE }}
        run: |
          mkdir -p liquibase-dist/target/keys
          echo "Saving apple key"
          echo "$INSTALL4J_APPLE_KEY" | base64 -d > liquibase-dist/target/keys/datical_apple.p12
          echo "Saving windows key"
          echo "$INSTALL4J_WINDOWS_KEY" | base64 -d > liquibase-dist/target/keys/datical_windows.pfx
          version="${{ needs.setup.outputs.version }}"

          ##### Rebuild installers
          tarFile=$(pwd)/re-version/final/liquibase-$version.tar.gz
          scriptDir=$(pwd)/.github/util/

          mkdir -p liquibase-dist/target/liquibase-$version
          (cd liquibase-dist/target/liquibase-$version && tar xfz $tarFile)
          (cd liquibase-dist && $scriptDir/package-install4j.sh $version)
          mv liquibase-dist/target/liquibase-*-installer-* re-version/final

          ##Sign Files
          $PWD/.github/util/sign-artifacts.sh re-version/final

          (cd re-version/final && zip liquibase-additional-$version.zip *.asc *.md5 *.sha1)
          rm re-version/final/*.asc
          rm re-version/final/*.md5
          rm re-version/final/*.sha1

        # Check if the tag already exists in OSS repository, if it does, exit with error. This is to prevent the artifacts from being attached to the already released tag.
      - name: Check OSS release tag existence, if tag exists, exit with error
        run: |
          tag="v${{ needs.setup.outputs.version }}"
          if git show-ref --tags --quiet --verify -- "refs/tags/$tag"
          then
              echo "Tag $tag already exists"
              exit 1
          fi


      - name: Attach Files to Draft Release
        if: ${{ inputs.standalone_zip == false && inputs.dry_run == false }}
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ needs.setup.outputs.version }}
          fail_on_unmatched_files: true
          body: Liquibase ${{ needs.setup.outputs.version }}
          generate_release_notes: true
          draft: true
          files: re-version/final/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Attach Files to Dry-Run Draft Release
        id: attach-files-dry-run
        if: ${{ inputs.standalone_zip == false && inputs.dry_run == true }}
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ needs.setup.outputs.version }}
          fail_on_unmatched_files: true
          body: Liquibase ${{ needs.setup.outputs.version }} (Dry-Run)
          generate_release_notes: true
          draft: true
          files: re-version/final/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - name: Attach standalone zip to Build
        if: ${{ inputs.standalone_zip == true && inputs.dry_run == false }}
        uses: actions/upload-artifact@v4
        with:
            name: liquibase-installers-${{ needs.setup.outputs.version }}
            path: re-version/final/*
