name: Dry run release

on:
  workflow_dispatch: # Trigger on demand
  # schedule: # Trigger nightly at midnight UTC
  #   - cron: "0 0 * * *"

jobs:

  setup:
    runs-on: ubuntu-latest
    outputs:
      dry_run_branch: ${{ steps.get_dry_run_branch.outputs.dry_run_branch }}
      dry_run_id: ${{ steps.get_run_id.outputs.dry_run_id }}
    steps:
      - name: Checkout liquibase
        uses: actions/checkout@v4

      - name: Checkout liquibase-pro
        uses: actions/checkout@v4
        with:
          repository: liquibase/liquibase-pro
          token: ${{ secrets.BOT_TOKEN }}
          path: liquibase-pro

      - name: Set up Git
        run: |
          git config user.name "liquibot"
          git config user.email "liquibot@liquibase.org"

      - name: Get dry-run branch
        id: get_dry_run_branch
        run: |
          DRY_RUN_BRANCH="0"
          echo "dry_run_branch=$DRY_RUN_BRANCH" >> $GITHUB_OUTPUT
          echo "Dry run branch: $DRY_RUN_BRANCH"

      - name: Create a liquibase dry-run branch
        id: create_branch
        run: |
          DRY_RUN_BRANCH=${{ steps.get_dry_run_branch.outputs.dry_run_branch }}
          git checkout -b $DRY_RUN_BRANCH
          echo "dry_run_branch=$DRY_RUN_BRANCH" >> $GITHUB_OUTPUT
          echo "New branch created: $DRY_RUN_BRANCH"
          # Set the upstream branch manually
          git push origin $DRY_RUN_BRANCH
          git branch --set-upstream-to=origin/$DRY_RUN_BRANCH
        
      - name: Create a liquibase-pro dry-run branch
        id: create_pro_branch
        run: |
          cd liquibase-pro
          DRY_RUN_BRANCH=${{ steps.get_dry_run_branch.outputs.dry_run_branch }}
          git checkout -b $DRY_RUN_BRANCH
          echo "New branch created: $DRY_RUN_BRANCH"
          # Set the upstream branch manually
          git push origin $DRY_RUN_BRANCH
          git branch --set-upstream-to=origin/$DRY_RUN_BRANCH

      - name: Get run-tests.yml runId 
        id: get_run_id
        run: |
          # Fetch the list of workflow runs
          response=$(curl -s \
            -H "Authorization: token ${{ secrets.BOT_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/liquibase/liquibase/actions/workflows/run-tests.yml/runs?status=success&per_page=1")
          echo "response=$response"
          # Extract the last successful run ID
          run_id=$(echo "$response" | jq -r '.workflow_runs[0].id')
          echo "dry_run_id=$run_id" >> $GITHUB_OUTPUT

  dry-run-release:
    needs: [ setup ]
    uses: liquibase/liquibase/.github/workflows/create-release.yml@DAT-18301
    with:
      version: ${{ needs.setup.outputs.dry_run_branch }}
      branch: ${{ needs.setup.outputs.dry_run_branch }}
      runId: ${{ needs.setup.outputs.dry_run_id }}
      standalone_zip: false
      dry_run: true
    secrets: inherit
  
  cleanup:
    runs-on: ubuntu-latest
    if: always()
    needs: [ setup, dry-run-release ]
    steps:
      - name: Checkout liquibase
        uses: actions/checkout@v4

      - name: Set up Git
        run: |
          git config user.name "liquibot"
          git config user.email "liquibot@liquibase.org"

      - name: Delete liquibase branch & tag
        if: always()
        run: |
          git push origin --delete ${{ needs.setup.outputs.dry_run_branch }}
          echo "Remote branch ${{ needs.setup.outputs.dry_run_branch }} deleted"
          git push origin --delete refs/tags/v${{ needs.setup.outputs.dry_run_branch }}
          echo "Remote tag v${{ needs.setup.outputs.dry_run_branch }} deleted"

      - name: Checkout liquibase-pro
        if: always()
        uses: actions/checkout@v4
        with:
          repository: liquibase/liquibase-pro
          token: ${{ secrets.BOT_TOKEN }}
          path: liquibase-pro

      - name: Delete liquibase-pro branch & tag
        if: always()
        run: |
          cd liquibase-pro
          git push origin --delete ${{ needs.setup.outputs.dry_run_branch }}
          echo "Remote branch ${{ needs.setup.outputs.dry_run_branch }} deleted"
          git push origin --delete refs/tags/v${{ needs.setup.outputs.dry_run_branch }}
          echo "Remote tag v${{ needs.setup.outputs.dry_run_branch }} deleted"
