name: Dry run release

on:
  workflow_dispatch: # Trigger on demand
  # schedule: # Trigger nightly at midnight UTC
  #   - cron: "0 0 * * *"

jobs:

  setup:
    runs-on: ubuntu-latest
    outputs:
      dry_run_id: ${{ steps.get_run_id.outputs.dry_run_id }}
    steps:

      - name: Get run-tests.yml runId 
        id: get_run_id
        run: |
          # Fetch the list of workflow runs
          response=$(curl -s \
            -H "Authorization: token ${{ secrets.BOT_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/liquibase/liquibase/actions/workflows/run-tests.yml/runs?branch=master&status=success&per_page=1")
            # Extract the last successful run ID
          run_id=$(echo "$response" | jq -r '.workflow_runs[0].id')
          echo "dry_run_id=$run_id" >> $GITHUB_OUTPUT

  # dry-run-create-release:
  #   needs: [ setup ]
  #   uses: liquibase/liquibase/.github/workflows/create-release.yml@master
  #   with:
  #     version: "dry-run-${{ github.run_number }}"
  #     runId: ${{ needs.setup.outputs.dry_run_id }}
  #     standalone_zip: false
  #     dry_run: true
  #   secrets: inherit
  

  dry-run-release-published:
    #needs: [ dry-run-create-release ]
    uses: liquibase/liquibase/.github/workflows/release-published.yml@DAT-18301
    with:
      #tag: "dry-run-${{ github.run_number }}"
      tag: "vdry-run-30"
      dry_run: true
    secrets: inherit