name: FOSSA License Compliance and Security Check

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  authorize:
    environment: ${{ github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository && 'external' || 'internal' }}
    runs-on: ubuntu-latest
    steps:
      - run: true
      
  fossa:
    needs: authorize
    uses: liquibase/build-logic/.github/workflows/fossa_ai.yml@main
    secrets: inherit
    with:
      check_snippets: true
      check_ai_generated_code: true
      generate_sbom: true
