name: Release Docker Minimal

run-name: "Release Minimal Docker Image - v${{ inputs.version }}${{ inputs.dry_run && ' (Dry Run)' || '' }}"

on:
  workflow_call:
    inputs:
      version:
        description: "Version to release"
        required: true
        type: string
      dry_run:
        description: "Flag to indicate if this is a dry-run"
        required: false
        type: boolean
        default: false
  
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release"
        required: true
        type: string
      dry_run:
        description: "Flag to indicate if this is a dry-run"
        required: false
        type: boolean
        default: false

permissions:
  contents: read
  id-token: write

jobs:
  release-minimal-docker:
    name: Release Minimal docker image
    runs-on: ubuntu-22.04
    if: ${{ inputs.dry_run == false }}
    steps:
      - name: Configure AWS credentials for vault access
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.LIQUIBASE_VAULT_OIDC_ROLE_ARN }}
          aws-region: us-east-1

      - name: Get secrets from vault
        id: vault-secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            ,/vault/liquibase
          parse-json-secrets: true

      - name: Get GitHub App token
        id: get-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ env.LIQUIBASE_GITHUB_APP_ID }}
          private-key: ${{ env.LIQUIBASE_GITHUB_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          permission-contents: write
          permission-actions: write

      # - name: Release liquibase/liquibase-infrastructure v${{ inputs.version }}
      #   uses: the-actions-org/workflow-dispatch@v4
      #   id: docker_dispatch
      #   with:
      #     workflow: build-liquibase-minimal.yml
      #     token: ${{ steps.get-token.outputs.token }}
      #     inputs: '{ "liquibaseVersion": "${{ inputs.version }}" }'
      #     ref: master
      #     repo: liquibase/liquibase-infrastructure
      #     wait-for-completion: true
      #     workflow-logs: json-output
