name: Release Extension to Sonatype

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  release:
    uses: liquibase/build-logic/.github/workflows/extension-release-published.yml@v0.5.1
    secrets: inherit
