name: Release Drafter

on:
  workflow_dispatch:
  #This job will be triggered when changes are pushed to the master branch, and it will also be triggered when a branch is created with a name that starts with 'refs/heads/release-'
  push:
    branches:
          - master
          - release-**
    
permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
        # write permission is required to create a github release
        contents: write
        # write permission is required for autolabeler
        # otherwise, read permission is required at least
        pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Check branch name
        id: branch_check
        #-qE : quiet mode Search for a regular expression pattern in the input text using extended(E) regular expressions. 
        # The below command determines whether the current branch is a release branch (starts with release-) or is master. It sets the is_release_branch variable to true if the condition is met and false otherwise. 
        run: |
          echo "is_release_branch=$(echo $GITHUB_REF | grep -qE 'refs/heads/(release-|master)' && echo true || echo false)" >> "$GITHUB_ENV"
          echo "$GITHUB_ENV"
          
      - name: Draft Release
        if: steps.branch_check.outputs.is_release_branch == 'true'
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
