name: Run Functional Tests

on:
  workflow_call:

  workflow_run:
    workflows: [ "Build Branch SNAPSHOT", "Build and Publish (Matching Branch)" ]
    types:
      - completed

  pull_request:
    types:
      - labeled

env:
  MAVEN_VERSION: '3.9.2'

jobs:
  build:
    #if: contains(github.event.pull_request.labels.*.name, 'runFunctionalTests')
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha || github.event.after}} #sets the Git reference (commit or branch) to be checked out in the workflow

      - uses: actions/github-script@v6
        with:
          script: |
            console.log(github.event.pull_request.labels)

      #run the functional tests only against the head-branch of the PR
      - name: Trigger Functional Tests Workflow
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.RUN_FUNCTIONAL_TEST_HARNESS_TESTS_TOKEN }}
          repository: liquibase/liquibase-pro-tests
          event-type: run-functional-tests
          client-payload: '{"ref": "${{ github.event.pull_request.head.ref }}" }'