name: Run Test Harness Tests

on:
  workflow_call:
    inputs:
      latestMergeSha:
        description: 'Latest Merge sha of OSS PR'
        required: false
        default: ''
        type: string
      thisBranchName:
        description: 'Branch Name of OSS PR'
        required: false
        default: ''
        type: string

jobs:
  test-harness-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.event.after}} #sets the Git reference (commit or branch) to be checked out in the workflow

  run-test-harness-tests:
    runs-on: ubuntu-latest
    needs: [ test-harness-build ]
    name: Trigger Test Harness Tests
    steps:
      - uses: actions/checkout@v4

      - name: Get OSS Workflow Run URL
        id: get-workflow-url
        run: |
          repo_url="https://github.com/${{ github.repository }}"
          ossWorkflowUrl="${repo_url}/actions/runs/${{ github.run_id }}"
          echo "ossWorkflowUrl=${ossWorkflowUrl}" >> $GITHUB_ENV

      - name: Dispatch an action and get the run ID
        uses: codex-/return-dispatch@v1
        id: return_dispatch
        with:
          token: ${{ secrets.RUN_FUNCTIONAL_TEST_HARNESS_TESTS_TOKEN  }}
          ref: "develop"
          repo: liquibase-test-harness
          owner: liquibase
          workflow: main.yml
          workflow_inputs:
            '{"liquibaseCommit": "${{ inputs.latestMergeSha }}",
              "runDescription": "${{ env.ossWorkflowUrl }}",
              "liquibaseBranch": "${{ inputs.thisBranchName }}"
            }'

      - name: Display run ID
        run: echo ${{ steps.return_dispatch.outputs.run_id }}

      - name: Report TestHarness Run URL
        uses: actions/github-script@v7
        with:
          script: |
            const targetURL = "https://github.com/liquibase/liquibase-test-harness/actions/runs/${{ steps.return_dispatch.outputs.run_id }}"
            core.notice("TestHarness-Tests Run URL: " + targetURL);
