name: Sync Release to Master Branch

on:
#  push:
#    branches:
#      - release

jobs:
  sync-branches:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    name: Syncing branches
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Opening pull request
        id: pull
        uses: tretuna/sync-branches@1.4.0
        with:
          GITHUB_TOKEN: ${{secrets.SYNC_RELEASE_MASTER_BRANCH}}
          FROM_BRANCH: 'release'
          TO_BRANCH: 'master'
